[2020-07-15 13:59] boobaa opened #444 "Impossible to create a Node entity_referencing a Team in Behat"
## Description
`\Drupal\Driver\Fields\Drupal8\EntityReferenceHandler::expand()` can't retrieve the `label` entity_key for the Team entity type, therefore a `\Behat\Testwork\Call\Exception\FatalThrowableError` is thrown when one tries to create a Node (or whatever entity type) that references a Team entity.

## Steps to Reproduce
Steps to reproduce the behavior:
1. Create a node type with an entity

[2020-07-17 17:24] #436 closed

[2020-07-20 06:31] #430 closed

[2020-07-21 05:51] arshad opened #448 "Rules 3.0.0-alpha6 upgrade"
Upgrade rules module for apigee_edge_actions.

https://www.drupal.org/project/rules/releases/8.x-3.0-alpha6

[2020-07-21 18:10] arunz6161 commented on #329
Being tracked via #438 , #439, #440, #441

[2020-07-21 18:10] #329 closed

[2020-07-21 18:19] cnovak commented on #427
For the SmartDocs questions:

Unfortunately at this point the only way you could do any changes to any part of SmartDocs is by targeting it with JS or CSS. There isn't a template mechanism for either the left side panel or the docs itself. You can always use a Drupal basic page to display your API Docs and have full control over the template, but you would then need to start from scratch and would

[2020-07-21 18:24] arunz6161 commented on #442
Todo: Answer and capture in developer guide : https://www.drupal.org/docs/8/modules/apigee-edge/apigee-edge-developer-guide

[2020-07-22 07:20] mxr576 commented on #432
https://github.com/apigee/apigee-edge-drupal/pull/446#issuecomment-662287598

[2020-07-23 16:37] mnalpas opened #461 "Problem integrating Stripe Commerce"
## Description
I try to implement Stripe Commerce on Apigee on Drupal 8. Whenever I try to add some credit to my account I get the error "We have accountered an unexpected error while analyzing your payment method. Please try later"

## Steps to Reproduce
Steps to reproduce the behavior:
1. Go to Pricing & Plans
2. Click on a Product, then purchase it.
3. Funds are insufficient so click on Add cre

[2020-07-28 19:02] kthotti opened #452 "Apigee Edge module 8.x-1.12 disabled autocomplete feature on the "add team member""
**Is your feature request related to a problem? Please describe.**
The new version, Apigee Edge module 8.x-1.12, replaced the email autocomplete field on the "add team member" form with a text field that accepts comma separated emails, to avoid displaying email addresses of users of the system.
The autocomplete feature was very useful for the team owner as it is difficult to have the email address

[2020-07-29 15:24] en-vcracan opened #453 "Optimize AppStorage::loadUnchanged"
Apigee can be quite slow. Reducing the number of requests would help. I noticed that AppStorage::loadUnchanged($id) is making two identical requests. It does it because it needs to cover the possibility that $id can sometimes be an app name and not an app uuid.

I am new to the module and I have actually never seen a case when $id is an app name. Is this still a possible scenario?

Could we maybe

[2020-07-29 18:58] tfroseman opened #454 "Delete requests to Edge can leave an inconsistent state"
## Description
If a delete fails at Edge this can leave Drupal + Edge in an inconsistent state with no direct path to recovery.

## Steps to Reproduce
1. Use the edge module to delete an object
2. Request fails at edge due to unstated error
3. Resource is deleted in Drupal but still exists in Edge
4. Attempt to create resource in Drupal with same key or unique identifier, fails due to existing obj

[2020-07-29 19:15] kscheirer commented on #452
"Team" is a very flexible concept, sometimes its used in a way where displaying those email addresses is considered a vulnerability. In your setup this does not seem to be the case.

Maybe this can be configurable? A user permission like `use autocomplete (display all user emails)` or just a configurable option the portal admin can set.

[2020-07-29 19:25] varuntit101 commented on #452
Hi @kscheirer making it configurable might be a good option.

[2020-07-29 19:31] arunz6161 commented on #452
@kthotti @kscheirer @varuntit101 - We removed the autocomplete option due to the security issue described here : https://www.drupal.org/sa-contrib-2020-028 . In short, showing list of all portals users would not be an option here due to security concerns. An alternate could be to allow for autocomplete for users who have the same email domain as you. Could you please log a feature request if that

[2020-07-30 09:04] balazswmann opened #455 "Incorrect warning message on the status report page about Edge connection credentials"
## Description

After a `8.x-1.10` to `8.x-1.12` update I noticed that a new warning message appeared on the status report page which says:

The problem is that in my case the credentials are coming from environment variables defined in `settings.local.php` by `putenv()`. I double checked it, no credentials are stored elsewhere.

## Steps to Reproduce

1. Define the environment variables in `setti

[2020-07-30 16:48] mxr576 commented on #453
This is the reason why this multi-layered, extensive cache system have been invented to minimize the communication with the API backend.

An app could be loaded several different ways:
* by [UUID](https://apidocs.apigee.com/management/apis/get/organizations/%7Borg_name%7D/apps/%7Bapp_id%7D)
* by owner id ([developer email](https://apidocs.apigee.com/management/apis/get/organizations/%7Borg_name%7D

[2020-07-30 18:06] minnur commented on #415
@arunz6161 I have a possible solution in this PR https://github.com/apigee/apigee-edge-drupal/pull/457 so the idea is to make password field empty and always required. Whenever admin making changes to the connection settings they would have to provide the password. What do you think about this approach @arunz6161 @arlina-espinoza @cnovak

[2020-07-30 19:07] kthotti opened #458 "Apigee Edge module 8.x-1.12 disabled auto complete feature on the "add team member""
**Is your feature request related to a problem? Please describe.**
The new version, Apigee Edge module 8.x-1.12, replaced the email autocomplete field on the "add team member" form with a text field that accepts comma separated emails, to avoid displaying email addresses of users of the system. The autocomplete feature was very useful for the team owner as it is difficult to have the email address

[2020-07-31 08:02] vitalie-cracan commented on #453
Thanks for your comment Dezső. The scenario I was referring to is reproducible on a clean standard Drupal install with only apigee_edge module enabled. One can see it when when one goes for the second, third, etc time to the edit page of an App, /user/{id}/apps/{app_name}/edit.

I've been a bit more careful now that you asked to describe how this happens and I see that after a Drupal cache clear,

[2020-07-31 09:36] mxr576 commented on #453
Entity edit forms in Drupal always have to load the latest version of the data from the storage, they cannot rely on cached data. Especially in the case of Apigee, when the storage itself could be modified in multiples places, not just in Drupal.

Probably you are right, as I described above, this method has to support all possible "load app" scenarios. Although, additional utility methods could b

[2020-07-31 19:48] cnovak commented on #415
I would rather follow the way SMTP module does the password where if you don't put it in it is left unchanged. This way if someone submits a change to the form they do not loose the current password. This could cause an outage on a production site.

[2020-07-31 20:32] #416 closed

[2020-07-31 22:41] cnovak opened #459 "Regenerating a customer secret on an existing credential"
What about regenerating a customer secret on an existing credential?

_Originally posted by @mxr576 in https://github.com/apigee/apigee-edge-drupal/pull/446#issuecomment-662287598_

[2020-08-03 10:11] vitalie-cracan commented on #453
Yes, so far I have noticed this only for the edit and delete forms. I have created another pull request:

https://github.com/apigee/apigee-edge-drupal/pull/460

[2020-08-04 07:03] #452 closed

[2020-08-04 08:04] arlina-espinoza commented on #461
Moving to `apigee_edge` issue queue, as the underlying issue is an incompatibility between Edge entities and the quick edit module.

[2020-08-04 16:28] #461 closed

[2020-08-04 16:29] arlina-espinoza commented on #461
@mnalpas We have a fix for this on the `apigee_edge` module, should be available on the next release 8.x-1.13.

[2020-08-04 17:55] arlina-espinoza commented on #427
A way to do it is to programmatically create a new route and have it handled by a class that extends `Drupal\apigee_edge\Form\DeveloperAppAnalyticsFormForDeveloper`. That class assumes the app name is in the URL path, so you'd need to override the methods `submitForm()` and `buildForm()` to fit your use case. For `buildForm()`, the original method body can be copied and modified for easier develop

[2020-08-04 18:52] #415 closed

[2020-08-05 21:29] arlina-espinoza commented on #459
I'm not aware that the API allows regenerating secrets on a set of credentials: https://apidocs.apigee.com/api/developer-app-keys
@cnovak Could you confirm or point me in the right direction?

[2020-08-05 21:42] arlina-espinoza commented on #427
Closing this issue, feel free to reopen @samhaldia if you have further questions.

[2020-08-05 21:42] #427 closed

[2020-08-05 21:49] arunz6161 commented on #459
Regenerating just the secret it not an option provided by Apigee MGMT. Alternative revoke credentials and add new ones.

[2020-08-05 21:49] #459 closed

[2020-08-05 22:20] arunz6161 opened #463 "Integration tests with Drupal 9"
As a follow up of #398 ( Add Drupal 9 readiness checks to CI), we need to ensure all integration test work with Drupal 9.

[2020-08-06 10:02] #398 closed

[2020-08-09 10:49] VladimirAus opened #464 "phpcs report errors and warnings"
`phpcs` returns the following report 1 of 2:

[code]

[2020-08-09 10:50] VladimirAus commented on #464
`phpcs` returns the following report 2 of 2:

[code]

[2020-08-14 13:48] samhaldia commented on #427
Thank You @arlina-espinoza The example code snippet is really very helpful, It would be really very helpful to know, as what routes being currently used for App Analytics Form for re routing the Analytics form to be overridden as i am unable to find any services or routing entry for App Analytics form

[2020-08-17 18:22] arlina-espinoza commented on #427
@samhaldia The route itself is registered by the route provider class [`DeveloperAppRouteProvider`](https://github.com/apigee/apigee-edge-drupal/blob/8.x-1.x/src/Entity/DeveloperAppRouteProvider.php), and it uses the link templates defined in the [`DeveloperApp`](https://github.com/apigee/apigee-edge-drupal/blob/8.x-1.x/src/Entity/DeveloperApp.php#L65-L79) entity.

[2020-08-17 18:32] arlina-espinoza commented on #464
Thanks @VladimirAus. We are using a custom ruleset that extends the Drupal standard. You may run code sniffer with this ruleset this way:
[code]
Note: we use `-n` to ignore warnings.

Closing, but feel free to reopen if you have questions or comments.

[2020-08-17 18:32] #464 closed

[2020-08-19 11:45] en-vcracan opened #466 "Field UI dependency"
Is there are reason for having apigee_edge module depending on field_ui? Can this dependency be removed?

[2020-08-19 14:06] VladimirAus opened #467 "Secret is broken, requires js cleanup and implementation..."
## Description

Secret is broken, clicking hide and show would actually break the functionality.

## Steps to Reproduce

Steps to reproduce the behaviour:
1. Enable module by itself without https://github.com/apigee/apigee-devportal-kickstart-drupal
2. Go to app
3. Secret functionality is broken and occasionally doesn't work when trying to show/hide again.

## Actual Behaviour

Functionally was pa

[2020-08-19 15:11] VladimirAus opened #469 "Move app actions from kickstart to edge modules"
## Description

App actions were introduced in kickstart, so there is no way to access edit app functionality within the module.

## Steps to Reproduce

Steps to reproduce the behaviour:
1. Enable module by itself without https://github.com/apigee/apigee-devportal-kickstart-drupal
2. Go to apps on user profile
3. Try to edit the app

## Actual Behaviour

Functionally was partially fixed in https:/

[2020-08-20 07:03] Ramadevi-cts opened #471 "Not able to view all Apps created by all developers which are available in apigee edge as administrator"

[2020-08-20 07:21] arunz6161 commented on #471
Hi @Ramadevi-cts - Portals does not list all apps belonging to an Org. Could you please explain the need to display this information in portals when it is already available in edge ?

Please provide all the information suggested by the template. This will help us understand your requirement better.

[2020-08-20 07:35] Ramadevi-cts commented on #471
Hi @arunz6161 - As administrator access to developer portal (Drupal 8), I have given access to **View any app/ Update any app/ Delete any app**. But when I am login into portal I can access apps which are created by me as developer.
As per my understand, with provided access permissions Admins can view all apps in one org.

Please clarify me on this permissions *View any app/ Update any app/ Delet

[2020-08-21 15:39] mxr576 commented on #471
There is a secret `/developer-apps` and `/team-apps` path. Those have been added as a generic listing page for _all_ developer apps and team apps. (Just like `/admin/content` for nodes.) It has not been finished, pagination is missing from it for example, this is the reason why it is not available in the menu system.

[2020-08-21 15:44] mxr576 commented on #471
@arunz6161 One simple use case is when ppl are using the devportal as a management UI to solve things that the Apigee Edge MGMT UI API/UI cannot solve at this moment, like:
* email notifications
* calling 3rd party APIs before/after an app change
* app dashboard - managing apps and keys in one centralized place and combining one- or more features from the previous points
* Providing access to inte

[2020-08-21 17:45] arlina-espinoza commented on #471
The permission does allow visiting another user apps page (eg: user/15/apps) and administering them.

[2020-08-21 20:39] arlina-espinoza commented on #442
Hi @pandatrooper ,

The Apigee Management API does not provide an endpoint to filter out apps based on attributes (see https://apidocs.apigee.com/management/apis/get/organizations/%7Borg_name%7D/developers/%7Bdeveloper_email_or_id%7D/apps), so the filtering has to be done _after_ the apps listing has been retrieved. I provide here a summary and example of how this can be done.

You will need a cus

[2020-08-23 19:27] pandatrooper commented on #442
Hi @arlina-espinoza

Thanks a lot for the response. My hunt for this functionality finally comes to an end. It works like a charm ! We already assign the `portal_1` with a default Attribute Value in the Add Trusted app form hence `save() ` was not necessary for us.

Really appreciate your time and efforts. Please feel free to close it, if your team is not planning to pursue this enhancement furthe

[2020-08-23 22:43] kscheirer commented on #442
@jbennett13 This is great example code, probably worth adding to docs as a recipe or howto somewhere.

[2020-08-26 21:55] arlina-espinoza commented on #442
Thanks, we have added it to the Apigee Edge Developer Guide here:
https://www.drupal.org/docs/contributed-modules/apigee-edge/apigee-edge-developer-guide#s-filter-apps-using-custom-attributes

[2020-08-26 21:55] #442 closed

[2020-08-27 08:21] balazswmann opened #472 "Support environment selection on App analytics page"
**Is your feature request related to a problem? Please describe.**

Currently, the user specific App analytics page (**/user/[UID]/apps/[APP ID]/analytics**) fetches the analytics data from one environment which can be changed only by admins through the **/admin/config/apigee-edge/app-settings/general/analytics** page.

It would be nice if end users would be also able to switch among environments

[2020-08-28 09:58] purushotamrai commented on #467
Quick Updates: I was looking into this issue and realized that we are doing wrong in **apigee_edge_entity_view** as:
`
$build['credentials'][] = [
          '#type' => 'app_credential',
          '#credential' => $credential,
          '#app_name' => $entity->getName(),
          '#team_app_name' => isset($team_app_name) ? $team_app_name : '',
          '#attributes' => [
            'class' => 'i

[2020-08-31 15:50] #444 closed

[2020-09-07 13:20] VladimirAus commented on #223
In addition, page title does not respect the same change as oppose to Team Apps settings.

<img width="1150" alt="Screen Shot 2020-09-07 at 11 05 56 pm" src="https://user-images.githubusercontent.com/1356166/92391809-a411b600-f160-11ea-801a-e57d61d71539.png">
===
<img width="1401" alt="Screen Shot 2020-09-07 at 11 04 36 pm" src="https://user-images.githubusercontent.com/1356166/92391816-a70ca680-f

[2020-09-08 05:34] #432 closed

[2020-09-08 20:57] #448 closed

[2020-09-09 07:14] arlina-espinoza commented on #469
Hi @VladimirAus , I'm unclear of what you mean that there is no way to access the edit app functionality without Kickstart. If you use this module without Kickstart, the apps listing page for a given user looks like (the links to app entity operations appear according to the user permissions):
![image](https://user-images.githubusercontent.com/4062676/92566393-0508bf00-f231-11ea-8923-06247b3c4b02.

[2020-09-09 18:19] arlina-espinoza opened #478 "Enable CI testing matrix against both D8 and D9"
Enable CI testing matrix against both D8 and D9, fixing any incompatibilities found.
Note: groundwork on the CircleCI config file was already made in: #404 .

[2020-09-09 18:22] arlina-espinoza opened #479 "Manual testing against Drupal 9"
Manually review the functionality using Drupal 9 (after #478). We should cover all use cases.

To-do:
- Add a spreadsheet listing all use cases of the apigee_edge main module.
- @arunz6161 Do we have a list of use cases of the apigee_edge_teams module?

[2020-09-09 18:59] #223 closed

[2020-09-09 21:16] cnovak opened #480 "Deprecate/Remove Basic Auth from Edge Connection Settings"
[Basic Auth is going to be deprecated](https://docs.apigee.com/api-platform/system-administration/basic-auth#warning). We should:

- Remove the ability to configure Basic Auth on the Apigee connection settings, or for a first release display a warning to the user on the connection settings page and in the status report that Basic Auth is being deprecated and that they should use OAuth instead.
- M

[2020-09-10 17:10] varuntit101 opened #481 "Error on Developer App Analytics page for Hybrid Org"
## Description
After creating a App, On Analytics page I am seeing below error:-
"Unable to retrieve analytics data. Please try again."

On checking Drupal logs I saw below error message:-
"Apigee\Edge\Exception\ClientErrorException: INVALID_ARGUMENT: Invalid JSON payload received. Unknown name "_optimized": Cannot bind query parameter. Field 'optimized' could not be found in request message. in A

[2020-09-11 07:21] VladimirAus opened #483 "Application path is mixed with Drupal path breaking breadcrumbs and active menus."
## Description
Application path is mixed with Drupal path breaking breadcrumbs and active menus. Examples:

* `/user/1/create-app`
* `/user/1/apps/adminapp/edit`
* `/user/1/apps/adminapp`
* `/user/1/apps`
* `/add-team`

## Expected Behavior
Proposition is to do align with other Drupal entities and redefine paths as:

* `/app/add`
* `/app/adminapp/edit`
* `/app/adminapp`
* `/apps`
* `/team/add`

[2020-09-11 07:24] VladimirAus opened #484 "Team: Current admin is automatically added to the team"
## Steps

* Create new team
* Result: creator added as team admin

## Proposal

* create flag to add current user as admin
* flag should be unchecked by default

[2020-09-12 05:56] jannakha opened #486 "A11Y: Analytics form is missing labels on form controls"
## Description
Accessibility check fails App/Analytics form:

WCAG 1.3.1, WCAG 4.1.2
path: #edit-metrics, #edit-quick-date-picker

Fix ONE of the following:
- aria-label attribute does not exist or is empty
- aria-labelledby attribute does not exist, references elements that do not exist or references elements that are empty
- Form element does not have an implicit (wrapped) <label>
- Form element

[2020-09-12 06:04] jannakha opened #487 "A11Y: API Edge: invalid aria attribute"
## Description
WCAG 4.1.1, WCAG 4.1.2

Path: --wrapper
Fix the following:
-ARIA attribute is not allowed: aria-required="true"

When creating a new App, API products checkboxes' aria attribute is invalid

[2020-09-15 11:47] gangwalanil opened #489 "App listing and team apps listing load time is high"
## Description
I am using Apigee edge module and using apps and team apps features.

- When i create multiple user apps and go to the listing page, its take very high time to load.
- Similarly i create multiple team apps   go to the listing page, its take very high time to load.

## Actual Behavior
As the data on both of the pages are coming from Apigee, its take very high time to load.

## Expect

[2020-09-15 20:27] #455 closed

[2020-09-15 21:49] arlina-espinoza commented on #479
Here's a Drupal 9 composer template for testing (it's based on [`drupal/recommended-project`](https://github.com/drupal/recommended-project), as we don't want to use kickstart to test the Apigee Drupal modules): https://gist.github.com/arlina-espinoza/70515063318d23d88aabed2b18aac6c8

[2020-09-16 01:52] arunz6161 commented on #489
@gangwalanil as you have already mentioned that the response for apps and team apps is coming from Apigee edge, we can enable apigee_edge_debug module and log the corresponding time for each of these Apigee MGMT Api requests. Here is the documentation link : https://www.drupal.org/docs/8/modules/apigee-edge/monitor-apigee-edge-debug-logs#enable

Could you also let us know the version of Apigee edg

[2020-09-16 01:56] arunz6161 commented on #481
@varuntit101 thanks for the detailed problem statement, that helps. Could you confirm if the issue is seen with all apps or selective few ?

[2020-09-17 14:00] varuntit101 commented on #481
Hi, @arunz6161

This error is with all the Apps, I generated analytics data for 4 to 5 apps, I am getting same error with other Apps too.

[2020-09-18 21:19] #478 closed

[2020-09-29 08:36] VladimirAus opened #492 "Application API warnings are not present in apigee edge module"
## Description

Warnings only present when profile is present making module is not fully functional.

<img width="1036" alt="Screen Shot 2020-09-29 at 6 30 15 pm" src="https://user-images.githubusercontent.com/1356166/94533077-0d797600-0282-11eb-912f-56684dbe15c7.png">

## Steps to Reproduce

1. Invalidate one of the APIs used by the application.
2. Warning only visible when installation profile i

[2020-09-29 08:49] VladimirAus opened #493 "Provide more comprehensive logging for apps and teams"
Currently, no logging and auditing is done apart from errors.

# Proposal

* to log every app action
* to log every team action
* provide ability to switch off comprehensive logging from administration pages

[2020-09-29 09:44] shadcn commented on #469
@VladimirAus did you figure this out? The app actions are provided by the EntityListBuilder and `AppListBuilder`.

https://github.com/apigee/apigee-edge-drupal/blob/bf99f73629850b932a681dcd202c43e7cb515e5c/src/Entity/ListBuilder/AppListBuilder.php#L119-L130

[2020-09-29 10:00] VladimirAus commented on #469
@arshad - yep. I figured it out, however I need to add it to module first before removing it form profile so waiting on @arlina-espinoza to finish review of https://github.com/apigee/apigee-edge-drupal/pull/470/files for the following task:
* https://github.com/apigee/apigee-edge-drupal/issues/469

[2020-09-29 16:06] cnovak opened #494 "Add ability to limit an app to one API Product in UI"
There is an ability to limit an app to one API Product through configuration, but it is not displayed in the UI: https://www.drupal.org/docs/8/modules/apigee-edge/configure-app-registration#allowing-app-developers-to-select-a-single-API-product-only

This task is to add this to the UI so that users understand it is available.

[2020-09-29 16:24] earth2marsh commented on #494
From discussion, it sounds like this exists in D8 modules because it existed in D7 modules. Until we have a clearly defined use case, ideally with some user demand, I'm in favor of removing it in favor of custom development.

[2020-09-29 16:59] #438 closed

[2020-09-29 16:59] #439 closed

[2020-09-29 16:59] #440 closed

[2020-09-29 16:59] #441 closed

[2020-09-29 17:00] arlina-espinoza commented on #479
All case scenarios passed successfully on D9 with the latest 8.x-1.x.

[2020-09-29 17:00] #479 closed

[2020-09-29 17:24] shadcn commented on #492
@VladimirAus Can you attach a screenshot of the Apps page in a non-kickstart setup please? I'm trying to reproduce this and I *can* see the warnings for expired credentials.

![Apps___Apigee](https://user-images.githubusercontent.com/124599/94592535-170ed800-029a-11eb-8f27-443ed921bdfa.jpg)

Thank you

[2020-09-29 17:24] shadcn commented on #492
See also the related comment here: https://github.com/apigee/apigee-devportal-kickstart-drupal/issues/431#issuecomment-700844379

[2020-09-29 18:30] arunz6161 commented on #492
Todo: Logic to be changed to show a warning if there are no valid keys ( invalid keys are expired or revoked)

[2020-09-29 18:34] arunz6161 commented on #489
Reopen if this is still an issue.

[2020-09-29 18:34] #489 closed

[2020-09-29 20:47] #453 closed

[2020-09-30 02:13] jannakha commented on #492
here's a screenshot of kickstart:
![image](https://user-images.githubusercontent.com/1356783/94635323-bcb35d00-0315-11eb-84aa-9f3121db9dfd.png)

here's a screenshot of non-kickstart installation:
![image](https://user-images.githubusercontent.com/1356783/94635493-1b78d680-0316-11eb-9a50-21638e8f950a.png)

non-kickstart version does show api is pending/expired but it doesn't show a warning with a r

[2020-09-30 07:20] shadcn commented on #492
Thanks for the screenshot @jannakha

Looks like we need to consolidate the app warnings. Here's the current list of warnings (see screenshot):

1. A warning is displayed if an app has **at least one expired key**.
2. A warning is displayed if an app has **an approved key with at least one expired product**.

3. We are going to add a third case where an app has **no approved keys. i.e all keys are

[2020-09-30 08:32] jannakha commented on #492
yes, if all keys are **revoked** or **expired** a warning can be displayed as well.
NOTE: it's possible to revoke all keys, but not via Drupal interface (only via apigee edge interface)

[2020-09-30 16:46] cnovak commented on #494
Unfortunately, we don't have any info on who is using this. Surfacing the feature with a checkbox will be very easy to do, and will have less impact on anyone using this feature.

[2020-09-30 20:08] #212 closed

[2020-09-30 20:13] arlina-espinoza opened #497 "Document team invitation feature"
Add/update docs to reflect new team invitation functionality added in https://github.com/apigee/apigee-edge-drupal/pull/474.

- https://www.drupal.org/docs/8/modules/apigee-edge/configure-team-management

[2020-10-01 03:22] jannakha commented on #440
Users can click on "Accept" on expired invitations - creating a bug for it.
https://github.com/apigee/apigee-edge-drupal/issues/498

[2020-10-01 03:32] jannakha opened #498 "Expired team invitations should not be actionable."
**v8.x-1.16**

## Description
Expired team invitation has "Accept" as an option.
- Clicking on it results on "your invitation has expired" screen.

Expired team invitation has "Decline" as an option.
- Clicking on it results on "your invitation has expired" screen.

## Steps to Reproduce
Steps to reproduce the behavior:
0. Unset invitation expiration time (or set to zero)
1. As a team admin - Send

[2020-10-01 03:39] shadcn commented on #498
From the screenshot it looks like the status still says *pending* and not *expired*. Expiration of invitations are handled via cron.

Can you confirm if you have a configured cron?

(As a test, you can manually run cron to update the status of expired invitations).

[2020-10-01 03:52] jannakha commented on #439
There's a bug in permissions - https://github.com/apigee/apigee-edge-drupal/issues/499

Pending invitations block is displayed to Team Admins only, but if a user is not a team admin but has "Administer team invitations" permissions - this block is not displayed.

[2020-10-01 04:17] jannakha opened #499 "Pending invitations block should be visible to a user with Drupal "Manage team members" permission (not only team permission)"
## Description
Pending invitations block is displayed to users with team permission "Manage team members", but if a user is not a team admin but has "Manage team members" Drupal permissions - this block is not displayed.

Users with Drupal "Manage team members" are able to send invitation to users even if they are not a member of the team.

## Steps to Reproduce
Steps to reproduce the behavior:
1.

[2020-10-01 04:56] jannakha commented on #498
Yep, I can confirm cron changes invitation status to expired and expired invitations are removed from user's view.

I have another issue with expired invitations:
- When admin re-sends expired invitation, invitee gets error "invitation expired" when they're trying to accept - even though it has a new expiration date.
- After clearing cache user was able to accept this invitation.

Can you please c

[2020-10-01 04:58] jannakha commented on #499
Dev portal manager has Manage team members Drupal permission as well

[2020-10-01 05:30] shadcn commented on #498
I can confirm this bug. Let's create a new issue to track this. Thanks @jannakha

[2020-10-01 05:31] arshad opened #500 "Team invitations are cached even after status/expiry date update"
See https://github.com/apigee/apigee-edge-drupal/issues/498#issuecomment-701883915

Originally reported by @jannakha

[2020-10-01 05:33] shadcn commented on #498
@jannakha I created https://github.com/apigee/apigee-edge-drupal/issues/500

I'm going to close this one.

We are going to cover the cron setup in documentation.

Thanks for your help testing and improving the module. Appreciate it.

[2020-10-01 05:33] #498 closed

[2020-10-01 05:34] shadcn commented on #497
Checklist:

- [x] Setup cron for handling expired invitations
- [x] Permissions

[2020-10-01 05:38] shadcn commented on #499
Looks like this needs documentation too (or maybe better wording?).

The `Administer team invitations` is actually for administering team invitation config at `/admin/config/apigee-edge/team-settings/invitation`.

The team permission "Manage team members" handles team invitation.

I agree this can be confusing though. Maybe rename to:

"Administer team invitations" to "Administer team invitation s

[2020-10-01 06:03] jannakha commented on #499
ah, ok
then user with Drupal "Manage team members" should be able to view pending invitations even if they are not "Team Admin"
and they should be able to revoke/resend invitations (as they already can send out invitations).

@arshad I have updated the original task as it's not about documentation. It's about team vs Drupal permissions "Mange team members" as user doesn't have to be a member of a

[2020-10-01 12:15] shadcn commented on #499
@jannakha Only if you give the "Manage team members" permission to the "Member" role.

![Permissions___Apigee](https://user-images.githubusercontent.com/124599/94807707-16448600-0401-11eb-863b-9ba7c68d6618.jpg)

Note: the "Manage team members" permission is a **team permission".

[2020-10-01 12:22] shadcn commented on #499
@jannakha I created the following PR: https://github.com/apigee/apigee-edge-drupal/pull/501

[2020-10-01 12:47] shadcn commented on #500
@jannakha somehow I cannot reproduce this anymore. Can you help me / list the steps to reproduce this bug? Thank you.

[2020-10-01 19:58] arlina-espinoza commented on #486
Fixed by #503 .

[2020-10-01 19:58] #486 closed

[2020-10-01 21:03] arlina-espinoza commented on #467
There is a PR pretty close to getting merged with the resolution to this issue: https://github.com/apigee/apigee-edge-drupal/pull/496

[2020-10-01 23:35] #467 closed

[2020-10-02 00:25] arlina-espinoza commented on #467
Latest apigee_edge release includes the fix of PR #496:
https://www.drupal.org/project/apigee_edge/releases/8.x-1.17

[2020-10-02 03:41] jannakha commented on #499
@arshad no this is not what I reported.
I don't think this issue can be closed.

- Users who can manage team members don't have to be a **part** of the team
Example: DEV PORTAL MANAGER, aka ADMIN (but not USER 1): this user is not a member of any team, but can create teams and send invitations to the teams, remove/change permissions to users within the team.

- Drupal permission **Manage team memb

[2020-10-02 05:02] shadcn commented on #499
Ah I see what you mean now. I'm going to look into this.

PS: We did not mean to close this. It was closed as part of the PR merge. If this happens again, feel free to re-open. We're happy to help. Thank you.

[2020-10-07 11:08] varuntit101 commented on #481
Hi @arunz6161 Did you got a chance to check this issue?

[2020-10-07 16:56] jbennett13 commented on #497
@arlina-espinoza :  Let me know if I can help with this.

[2020-10-13 06:07] #494 closed

[2020-10-13 06:09] #487 closed

[2020-10-13 06:10] arlina-espinoza commented on #487
@jannakha There is a fix provided in https://github.com/apigee/apigee-edge-drupal/pull/504 that should go out in the next release.

[2020-10-14 17:58] arlina-espinoza commented on #469
Hi @VladimirAus ,

I'm still not seeing the issue you are describing, as there is a way to edit and get to the app actions just using this module (without using Kickstart), see https://github.com/apigee/apigee-edge-drupal/issues/469#issuecomment-689358044. Could you elaborate what you are seeing?

[2020-10-14 18:08] arunz6161 commented on #500
Closing this out- please reopen if you continue to see the issue with detailed steps to reproduce the issue.

[2020-10-14 18:08] #500 closed

[2020-10-14 18:16] arunz6161 commented on #484
@VladimirAus Could you explain your use case in more detail ? You can always remove yourself from a team. Adding an option to let users create an orphaned team can lead to issues.

[2020-10-14 18:31] arunz6161 commented on #472
Todo: Add a proposal to explain the new behavior.

[2020-10-14 19:26] arlina-espinoza commented on #472
Here's how we see this feature (discussed with @arunz6161 and @cnovak).

- App analytics configuration page at **/admin/config/apigee-edge/app-settings/general/analytics** would allow choosing which environments would be made available to end users on the app analytics form, and which environment should be default. Example:
![image](https://user-images.githubusercontent.com/4062676/96034898-17b979

[2020-10-14 23:56] arlina-espinoza commented on #483
@VladimirAus The reason app paths are under the `/user/{{uid}}/...` path is that apps need to be tied to a user context , the exception being the path `/apps`,which is an shortcut for `/user/{{current_uid}}/apps)`. Users that have the "administer apps" or "view any apps" permissions can access other users apps through their UID path, too.

However, I believe that what you are asking is to avoid ha

[2020-10-15 00:04] arlina-espinoza commented on #493
Perhaps the admin setting to decide on the level of logging could go under `/admin/config/apigee-edge/error-page-settings`, but renaming the page to be "Logging and error handling".

[2020-10-16 21:45] arlina-espinoza commented on #463
This was done on https://github.com/apigee/apigee-edge-drupal/pull/490.

[2020-10-16 21:45] #463 closed

[2020-10-16 21:53] arlina-espinoza commented on #471
@cnovak / @arunz6161 Should these pages be documented and added to a menu? As @mxr576 mentioned, they still need some work.

[2020-10-18 13:32] acobat opened #508 "able to modify app inside inactive company"
Hi,

We are using Apigee OPDK + Drupal 8.x + Monetization (Companies\Teams).

We hit a situation, which is super strange to us, while the company is inactive status, the company owner able to do anything inside the company apps (add apps, modify, delete etc.) - our understanding is that if company is inactive, all the other things are kind of open from UI\UX POV.

We are aware that they cannot use

[2020-10-19 18:28] arlina-espinoza commented on #508
Hi @acobat ,

The API will just not allow calls to the apps to go through when the team is disabled, but any management API calls (edit apps, members, etc) will still go through. However, we do see that it presents a confusing UX, so we think we can make it so when a team is disabled, prevent any member or team apps creation/deletion/editing, and prevent editing the company itself from the Drupal

[2020-10-19 21:36] acobat commented on #508
yes, this is exactly what we need, can this be implemented? It is super confusing, and flow-speaking not correct.

once company is in 'inactive' state - all manipulations on the apps\members or company meta data should be disabled, because we disabling company for reason and don't want company admin to be able for example, to modify the company app and subscribe to product.

Thanks,

[2020-10-20 16:55] tool-rules opened #510 "Updating apigee_edge module fails with Cannot redeclare Drupal\apigee_edge_teams\Entity\ListBuilder\TeamListBuilder"
I am using composer to update apigee_edge module from 1.10 to 1.17. When I attempt to update the module (composer require drupal/apigee_edge:1.12/17), I receive this error:

PHP Fatal error: Cannot redeclare Drupal\apigee_edge_teams\Entity\ListBuilder\TeamListBuilder::render() in /var/www/html/web/modules/contrib/apigee_edge/modules/apigee_edge_teams/src/Entity/ListBuilder/TeamListBuilder.php on l

[2020-10-22 06:59] minnur commented on #493
I can see several options where we could add configuration for logs.

1. One global setting "comprehensive logging" and each module would just use that as a flag wether to log every action or not. We could make the change just like Arlina suggested in the previous comment and rename the page and change its URL to something like `Logging and error handling` /admin/config/apigee-edge/loggin-error-ha

[2020-10-23 06:30] shadcn commented on #497
# Team invitation

Apigee Edge 8.x-1.16 ships with team invitation feature which lets you invite new team members using their email address.

## Installation

If you are updating from a previous version of Apigee Edge, make sure you run the database updates (`drush updb`).

## Configuration

To configure team invitation:

1. Select **Configuration > Apigee Edge > Teams**.
2. Click the **Team invit

[2020-10-23 16:46] cnovak commented on #493
I am thinking that @arlina-espinoza 's idea may be a good one. If I am using these modules, it may be frustrating to try to figure out which logging I need to turn on, and turning all on/all off would be a pain if they were separate.

[2020-10-23 20:57] #492 closed

[2020-10-24 07:10] mxr576 opened #511 "Make app notification messages (warning) more configurable"
Since PR #507 app warnings have been decoupled to a new service.

This allows downstream to customize app warning messages. [In an early state of that PR](https://github.com/apigee/apigee-edge-drupal/pull/507#discussion_r503830960) I have raised an idea that besides customized warning messages, the downstream probably also would like to customize the severity of the displayed messages. This would

[2020-10-25 21:52] #499 closed

[2020-10-25 21:56] arlina-espinoza commented on #497
Thanks @arshad.
@jbennett13 Should we add this directly under https://www.drupal.org/docs/8/modules/apigee-edge/configure-team-management, or create a new subpage? LMK.

[2020-10-26 14:30] shadcn commented on #510
@tool-rules What does `modules/apigee_edge_teams/src/Entity/ListBuilder/TeamListBuilder.php` look like after the update?

[2020-10-26 14:34] shadcn commented on #511
Thanks for the suggestion @mxr576. We are going to look into this.

[2020-10-26 17:52] yenoomluap commented on #510
@arshad here is TeamListBuilder.php after the update (1.10 -> 1.12)

[teamlistbuilder-v112.txt](https://github.com/apigee/apigee-edge-drupal/files/5440479/teamlistbuilder-v112.txt)

[2020-10-26 18:14] arlina-espinoza commented on #510
Hi @tool-rules,
You have a patch on your composer.json file that is re-adding the `render()` method to the `TeamListBuilder` class:

[code]

You will need to update the patch (if still needed) so that is compatible with the newer version of `apigee_edge`.
I'll close this issue, but feel free to reopen if you have further questions.

[2020-10-26 18:14] #510 closed

[2020-10-28 03:23] jannakha opened #512 "Apigee Edge Debug: Hide key/secret in the response."
When user updates their app and apigee_edge_debug is enabled, user's app's consumerKey and consumerSecret is visible in plain text in response body (message of the log message).

Parse and replace consumerKey/consumerSecret with *** as that might lead to security issues.

[2020-10-29 18:55] #512 closed

[2020-10-29 21:12] arunz6161 commented on #469
@VladimirAus We are closing this out since we haven't heard back . Please reopen when you are able to provide additional information.

[2020-10-29 21:12] #469 closed

[2020-10-29 21:16] arunz6161 commented on #511
To be discussed in deep dive 11/02

[2020-10-29 21:36] #480 closed

[2020-11-02 21:42] tool-rules opened #515 "can't see the keys"
after upgrading to apigee_edge 1.17 - we receive the following message when we use admin/config/system/keys:

`The website encountered an unexpected error. Please try again later.`

`Drupal\Component\Plugin\Exception\PluginNotFoundException: The "apigee_edge_basic_auth" plugin does not exist. Valid plugin IDs for Drupal\key\Plugin\KeyPluginManager are: apigee_auth, authentication, authentication_m

[2020-11-02 21:46] yenoomluap commented on #515
composer.json

[composer.txt](https://github.com/apigee/apigee-edge-drupal/files/5478232/composer.txt)

[2020-11-04 14:04] balazswmann commented on #472
@arlina-espinoza @arunz6161 @cnovak Thank you for the feedback. The proposal looks good to me, it would be a nice improvement.

[2020-11-04 17:43] arlina-espinoza commented on #515
Hi @tool-rules, the `apigee_edge_basic_auth` was removed since the release of apigee_edge `8.x-1.0-beta1`. You can try deleting the old key from `/admin/config/system/keys`, and re-configuring your connection details at `/admin/config/apigee-edge/settings`. That should create a new key.

[2020-11-05 22:01] arunz6161 opened #526 "Update Apigee connections settings information for apigee.google.com"
Adding this card to track the work needed to update working on the Drupal Module connection page:

Modify drupal module connection settings options to say "Hybrid / TBD" or something like that

[2020-11-09 17:19] arlina-espinoza commented on #515
Closing, please reopen if you have further questions.

[2020-11-09 17:19] #515 closed

[2020-11-10 09:53] jannakha commented on #499
fixed! yeah! thanks guys! works well!

[2020-11-10 10:25] varuntit101 opened #516 "Team member invitation limit"
## Description
Once a member is invited to a team, until he accepts or rejects the invitation, he can't be added to a second team

## Steps to Reproduce
Steps to reproduce the behavior:
1. Create a team
2. Add a member to the team. (Do not accept/reject the invitation yet)
3. Create a second team
4. Add the same member to the second team

## Actual Behavior
This throws an error saying "The followi

[2020-11-10 10:28] varuntit101 opened #517 "Unable to invite members to another team, if teams get deleted with pending member invitation"
## Description
Unable to invite members to another team, if teams get deleted with pending member invitation

## Steps to Reproduce
Steps to reproduce the behavior:
1. Create a team
2. Add a member to the team. (Do not accept/reject the invitation yet)
3. Delete the team.
3. Create a second team
4. Add the same member to the second team

## Actual Behavior
This throws an error saying "The followin

[2020-11-16 19:11] msgowtham commented on #517
facing the same issue

[2020-11-16 19:23] msgowtham opened #520 "Facing error when altering Drupal 8 user rergistration form."
## Description
Whenever we are trying to modify the user registration form to a multi-step or adding/modifying a field using Ajax callback, I am seeing a cache error.
**Please refer below for the error message:**
TypeError: Return value of Drupal\apigee_edge\Entity\Controller\Cache\DeveloperIdCache::getEntityId() must be of the type string, null returned in Drupal\apigee_edge\Entity\Controller\Cac

[2020-11-17 18:56] jbennett13 commented on #497
Updated documentation throughout the Team Management page, but primarily here:  https://www.drupal.org/docs/contributed-modules/apigee-edge/configure-team-management#s-create-and-manage-team-invitations

[2020-11-17 19:20] arunz6161 commented on #516
Could be a duplicate of #517

[2020-11-18 19:32] #508 closed

[2020-11-19 22:27] giteshk opened #521 "Multiple Issues with Apps pages in Hybrid"
I connected the developer portal to Apigee Hybrid organization.

I was able to create an App but the following errors happen:

1. But I am unable to view the API Key
![Screen Shot 2020-11-19 at 5 23 58 PM](https://user-images.githubusercontent.com/6208023/99731699-4963d700-2a8c-11eb-862f-54181a80a280.png)

2. Unable to edit the app
![Screen Shot 2020-11-19 at 5 23 29 PM](https://user-images.github

[2020-11-20 06:38] shadcn commented on #520
@msgowtham I can take a look at this. Can you share the code (or a snippet) of what you've tried so far?

[2020-11-20 09:02] shadcn commented on #517
I created a PR to fix the "inviting to more than one team" issue.

I'm wondering how we can properly handle this.

We could implement a hook to cascade delete referenced team invitations when a team is deleted. This would work but there might be situations where a team/company is deleted on the Apigee server.

In https://github.com/apigee/apigee-edge-drupal/pull/522 I implement a query access subs

[2020-11-23 05:28] msgowtham commented on #520
@arshad
I am trying to do a multistep user registration form.
**Sample snippet code:**
function partner_registration_form_alter(&$form, FormStateInterface &$form_state, $form_id) {
  if ($form_id == 'user_register_form') {
// adding a custom button "Next"
 $form['my_module_actions']['next'] = [
      '#type' => 'submit',
      '#value' => t('Next'),
      '#name' => 'Next',
      '#submit' => [

[2020-11-24 13:12] shadcn commented on #520
@msgowtham It looks like we found a bug here. There's a computed field `apigee_edge_developer_id` on the `User` entity which is trying to load a `Developer` with an empty email address.

I created a PR here which should fix this: https://github.com/apigee/apigee-edge-drupal/pull/523 (CI is running. Let's see if this breaks anything).

As for the multi steps form, see if a combination of the [Field

[2020-11-25 10:28] acobat opened #524 "caching on team level"
Hi, we have found a bug (as we think):

To reproduce:

1. Create company in Apigee
![image](https://user-images.githubusercontent.com/5484385/100214982-2f594700-2f19-11eb-9a24-9439d9e1345a.png)

2. Observe the status of the company in the list in the portal:

![image](https://user-images.githubusercontent.com/5484385/100215023-3aac7280-2f19-11eb-8a48-22cbcee70fdb.png)

![image](https://user-images

[2020-11-25 19:26] arunz6161 commented on #521
Update from Eng-

While we continue investigating this further, it would be good to verify the following:

1. The service account is missing the right level of permissions resulting in some calls failing. Could you verify the role assigned to the service account ?
2. Org could be running into a cache issue. Could you try disabling all caches in the apigee module config and checking if that helps ?

[2020-11-25 19:27] arunz6161 commented on #521
Could we enable Apigee debug and verify what the backend is returning when errors are seen ?

Refer documentation : https://www.drupal.org/docs/8/modules/apigee-edge/monitor-apigee-edge-debug-logs

[2020-11-29 22:41] #520 closed

[2020-11-29 22:43] arlina-espinoza commented on #520
@msgowtham We have merged the PR that should fix the error that was coming from this module regarding the registration form. Feel free to reopen if there is further feedback or questions.

[2020-11-30 18:58] arlina-espinoza commented on #521
I've been able to replicate the issue when using a service account with the role "Apigee Developer Admin":
- When viewing an app, sometimes the credentials will load or not.
- 404 when trying to edit an app.

Enabling `apigee_edge_debug` shows that all calls to `/organizations/***organization***/apps/***appId**` are failing:

[code]

So:
- The error of the random appearance of credentials could be

[2020-12-02 05:10] msgowtham commented on #520
@arlina-espinoza I applied the patch in my local and it's working fine now. Thank you

[2020-12-02 12:25] acobat commented on #524
@arlina-espinoza hi, any assistance please? 👍

[2020-12-03 20:37] #516 closed

[2020-12-03 20:37] #517 closed

[2020-12-03 20:42] varuntit101 commented on #481
@arunz6161 any updates on this?

[2020-12-03 21:35] arlina-espinoza commented on #481
Hi @varuntit101 , I found this to be because Hybrid endpoints do not support the `_optimized` parameter. Could you try using the `apigee/apigee-client-php` from this PR? https://github.com/apigee/apigee-client-php/pull/111

[2020-12-03 21:55] cnovak commented on #521
This issue has been reported to the Apigee internal team. It looks like the GCP IAM "Apigee Developer Admin" role does not have the proper permissions. We will update status here, but in the meantime you can use the "Apigee Organization Admin" role for now.

[2020-12-03 22:27] cnovak commented on #484
@VladimirAus I will close this for now, but feel free to add more details on your use case if you are still interested in this enhancement. The reason we are asking is that if the default is to not add the admin to the team, we may get teams that have no administators.

[2020-12-03 22:27] #484 closed

[2020-12-03 22:31] cnovak commented on #471
There is a module created by Stratus Meridian that may have the functionality you need: https://www.drupal.org/project/sm_appdashboard_apigee

This functionality was never in our Drupal 7 offering, but was created as a separate module by @giteshk .  Stratus Meridian decided to port this over to Drupal 8. I will close this, but reopen if you see any remaining gaps in functionality.

[2020-12-03 22:31] #471 closed

[2020-12-03 22:33] cnovak commented on #466
This is an optional dependency for rearranging fields on the apps, teams, etc, so you are correct, we can remove this as a dependency.

[2020-12-03 22:36] cnovak commented on #458
We are concerned that this could still leak information, for example if you are using the `gmail.com` domain.  Maybe a better feature for a separate module?

[2020-12-04 09:10] mxr576 opened #527 "[urgent] Rollback "Normalize module paths" #509"
## Description
PR #509 was merged and it possibly introduces major regressions in handling "special" entity names.

The reason behind those olds paths was to be able to handle special entity names.
Like the path of the add team form was `add-team` instead of `/teams/add` because the canonical URL of a team entity is also `teams/[id]` and if the id of an entity is `add` then there is a collision be

[2020-12-04 09:11] mxr576 commented on #527
Original issue #483

[2020-12-04 09:12] mxr576 commented on #483
I think this issue should be re-opened and the merged fix in #509 should be rolled back. See #527

[2020-12-04 22:34] #527 closed

[2020-12-04 22:36] arlina-espinoza commented on #483
PR #509 was merged, but as @mxr576 pointed out in #527 , it could create some issues when entities have some special machine names. Re-opening this issue to discuss further.

[2020-12-07 09:24] varuntit101 commented on #481
Hi @arlina-espinoza , I applied the patch and getting below error now:-
`Apigee\Edge\Exception\ClientErrorException: NOT_FOUND: Invalid API Call - Tenant not found in Apigee\Edge\HttpClient\Plugin\ResponseHandlerPlugin->decodeResponse() (line 104 of \vendor\apigee\apigee-client-php\src\HttpClient\Plugin\ResponseHandlerPlugin.php).`

[2020-12-07 18:20] arlina-espinoza commented on #481
Hi @varuntit101 , have you configured the environment that should be used for analytics data at `/admin/config/apigee-edge/app-settings/general/analytics`?

[2020-12-07 22:00] arlina-espinoza commented on #454
@tfroseman Almost all of the Apigee data is fetched remotely and only saved temporarily on cache (they are not saved to Drupal's database), so clearing Drupal cache should solve any issues. You can also adjust the cache-expiration time on each entity on the module configuration settings.

The only place where I can see this being an issue would be when deleting users, as a Drupal user is tied to a

[2020-12-08 06:59] varuntit101 commented on #481
hi @arlina-espinoza , on configuring the environment I was able to get analytics data in the debug log messages, still not able to see any info on analytics page.
getting below message on analytics:
"No performance data is available for the criteria you supplied."

Debug log of Response:
`{
  "environments": [
    {
      "name": "dev",
      "dimensions": [
        {
          "name": "Test_App",

[2020-12-09 12:25] shadcn commented on #524
@acobat It looks like the `cache_expiration` config was not properly set for `Team` entity view. I created a PR to fix this.

Note: There's not much we can on the Drupal site when something changes remotely (unless caching is turned off). With the above PR, if you want remote changes done to be loaded in Drupal, you can set the `cache_expiration` to 0.

[2020-12-09 13:44] acobat commented on #524
cache_expiration 0 works only for admin, not for regular user, this is the actual bug :)

[2020-12-09 13:45] shadcn commented on #524
The PR should fix this :)

[2020-12-09 18:55] cnovak opened #532 "Broken link in status message for Teams not being supported in 5G"
## Description
The link is broken in message for Teams not being supported in 5G

## Steps to Reproduce
Steps to reproduce the behavior:
1. Enable teams module in a 5G (apigee.google.com) org
2. Go to status page
3. View status message
4. Click on link in message

<img width="1148" alt="Screen Shot 2020-12-09 at 10 47 56 AM" src="https://user-images.githubusercontent.com/613093/101673790-790f5a80-

[2020-12-10 19:10] cnovak commented on #526
@arlina-espinoza and I were talking about how this will be confusing if we do not update this soon. There are two main versions which we can call 4G and 5G.  4G is hosted at apigee.com, so if you log in to look at your org on apigee.com, you are using our 4G (4th version) product. 5G is our new version hosted at apigee.google.com.  The 5G version is also called NgSaaS and/or hybrid. The reason is

[2020-12-10 19:18] cnovak opened #533 "Apigee "Configure credentials: Connect to Apigee Edge or Edge for Private Cloud" documentation outdated"
## Description
The documentation page [Configure credentials: Connect to Apigee Edge or Edge for Private Cloud](https://www.drupal.org/docs/contributed-modules/apigee-edge/configure-the-connection-to-apigee-edge#configure-credentials-edge) is outdated.

The page should be updated with information about apigee.google.com instances.  This is related to issue #526

[2020-12-10 19:40] cnovak commented on #458
I am going to close this issue since we are still concerned about data privacy.

[2020-12-10 19:40] #458 closed

[2020-12-10 19:43] cnovak commented on #454
I will close this issue, but let us know if you have any scenarios that you can come up with and what we can do to mitigate this. I do agree that there could be inconsistencies for users due to a failed transaction, but I am not sure what we can do to handle this since we don't have a way to do ACID transactions against the API.

[2020-12-10 19:43] #454 closed

[2020-12-10 19:53] cnovak commented on #313
Going to close this issue since it was most likely a pre GA issue.

[2020-12-10 19:53] #313 closed

[2020-12-10 19:55] cnovak commented on #311
This error is no longer displayed

[2020-12-10 19:55] #311 closed

[2020-12-10 20:01] cnovak commented on #249
This issue is pretty old, let's try to replicate and if we cannot we can close it out.

[2020-12-11 16:14] cnovak opened #534 "CONTRIBUTING.md needs updating, still talks about TravisCI"
## Description
The CONTRIBUTING.md needs to be updated since it talks about using TravisCI which we no longer use. Update this w/info talking about how CircleCI runs during PRs and the developer can run tests locally to verify.

We also need the travisci config removed.

[2020-12-11 18:21] cnovak commented on #246
TODO:
* Create a new ticket to handle warning for now
* Spend more time designing how to handle permissions

[2020-12-11 18:37] cnovak commented on #237
This is an older issue and I believe I put it in for someone else. I don't think it is meaningful anymore, so I will close it.

[2020-12-11 18:37] #237 closed

[2020-12-11 18:39] cnovak commented on #231
Closing this issue since it is duplicate of #334

[2020-12-11 18:39] #231 closed

[2020-12-11 18:40] cnovak commented on #226
This has been fixed.

[2020-12-11 18:40] #226 closed

[2020-12-11 18:54] cnovak commented on #211
I think this is outdated and no longer needed, but reopen if needed.

[2020-12-11 18:54] #211 closed

[2020-12-11 18:57] cnovak commented on #187
Our current process is to put up all changes on the project in Drupal.org and link to the GitHub milestone, for example: https://www.drupal.org/project/apigee_edge/releases/8.x-1.20

[2020-12-11 18:57] #187 closed

[2020-12-11 18:59] cnovak commented on #87
The developer guide has been added to the Drupal.org module documentation page: https://www.drupal.org/docs/contributed-modules/apigee-edge/apigee-edge-developer-guide

[2020-12-11 18:59] #87 closed

[2020-12-16 18:05] m-khan23 commented on #524
This is actually a much bigger issue. We have seen some users are able to see other team's apps. This reveals confidential information that we definitely do not want to share. Any update on when this will be complete? @arshad

[2020-12-16 18:07] m-khan23 opened #537 "Ability to transfer App ownership from User to Team"
## Is your feature request related to a problem? Please describe.

We often see users create an app on the portal. Later on, they want to share credentials with a team (or they leave the company). Transferring ownership from a user to a team is not an easy user friendly process today.

## Describe the solution you would like

A simple admin UI that let's Admins transfer ownership of apps from a us

[2020-12-16 21:01] raakesh-blokhra commented on #217
@cnovak since we are not using Travis for this module anymore, should this ticket be closed?

[2020-12-17 01:28] #532 closed

[2020-12-17 04:50] shadcn commented on #524
@m-khan23 did you try the PR? Does it fix the issue?

[2020-12-17 14:48] m-khan23 commented on #524
@arshad It looks like the PR is not yet merged. Will try as soon as we have a complete release.

'Flush all caches' temporarily fixes the issue so this probably will resolve this issue

[2020-12-17 17:16] earth2marsh commented on #537
Thanks for the request. This isn't a problem specific to the Drupal modules, as app ownership is an immutable relationship at the time of app creation. Note also that you should be able to modify the code to prevent individual app ownership UI in Drupal today as a custom modification, which would allow you to sidestep app ownership transfer issues by always creating team-owned apps. We are also wo

[2020-12-17 22:34] m-khan23 commented on #537
Hey, thanks for the info. Yes, we would go that route but then we (admin team) would be on the hook for creating team apps. There is no easy way to control which API Products different teams could see - similar to RBAC for apps.

Looking forward to the improved app ownership data model. Right now, we don't think it's great but we are making it work! Thanks.

[2020-12-17 22:34] #537 closed

[2020-12-20 16:39] mxr576 commented on #537
Building a solution for "Team-based API product access" is not impossible on the devportal side, as far as I remember, we have built something like that at Pronovix before. In general, I am not sure if that should be covered by this module or it should be always a custom development/separate contrib module.

I am looking forward to learning more about this when it is ready :)

[2020-12-21 07:40] #472 closed

[2020-12-21 07:41] #534 closed

[2020-12-21 07:48] arlina-espinoza commented on #524
@arshad 's PR has been merged to the main dev branch. Let us know if this fixes the issue @m-khan23 .

[2020-12-21 12:13] phdhiren commented on #249
@mxr576 , I could not replicate the issue. Is there any specific condition where the developer sync is throwing an error?

[2020-12-22 19:16] jbennett13 commented on #497
Closing as complete.  Please feel free to reopen if additional detail is required.

[2020-12-22 19:16] #497 closed

[2020-12-22 22:19] cnovak commented on #217
Yes, thanks @raakesh-blokhra , I must have missed this one during backlog grooming.

[2020-12-22 22:19] #217 closed

[2020-12-23 00:10] cnovak opened #541 "Only one @file annotation should be in each file"
One thing that I have missed - and I see it is also incorrect in apigee_edge.install and also in module - there should be only one `@file` annotation in the file.

Since it has to be fixed in several places, I am not considering this a blocker.

_Originally posted by @mxr576 in https://github.com/apigee/apigee-edge-drupal/pull/538#r547211849_

[2020-12-23 00:11] cnovak commented on #541
Task TODO is to review and make sure there is only one `@file` annotation in all module files.

[2020-12-28 03:44] raakesh-blokhra commented on #249
Unable to replicate. Let's close this issue. We will reopen if reproduced.

[2020-12-28 03:44] #249 closed

[2020-12-29 10:09] phdhiren commented on #312
@Shanli-Yu , I could not reproduce the error mentioned with latest build. Are you still facing the issue?

[2021-01-06 11:14] varuntit101 commented on #481
hi @arlina-espinoza any update on this.

[2021-01-06 16:44] raakesh-blokhra commented on #481
@varuntit101  We are looking into this issue and should have some information for you shortly.

[2021-01-06 16:56] raakesh-blokhra commented on #395
Since this is not affecting the current functionality in any negative way, and no issues have been reported that point towards this issue, we are closing this issue. We can re-open if needed.

[2021-01-06 16:56] #395 closed

[2021-01-08 21:13] tool-rules opened #548 "cannot add member to team"
Hello - When I try to invite/add member to team, it fails with the messages below.  What do I need to do to resolve this problem?

1)
[code]
2)
[code]

3)
[code]

4)
[code]

5)
[code]

6)
[code]

7)
[code]

8)
[code]

9)
[code]

10)
[code]

11)
[code]

12)
[code]

[2021-01-11 08:14] phdhiren commented on #548
@tool-rules , You should enter the email of one or more developers to invite them to the team, separated by comma in the form. I checked at my end and able to invite members to the team.  You can refer https://www.drupal.org/docs/contributed-modules/apigee-edge/configure-team-management for the documentation.

Are you facing the issue with specific conditions or steps?

[2021-01-11 09:08] phdhiren commented on #312
@Shanli-Yu, Feel free to reopen, if you still face the issue. Closing for now.

[2021-01-11 09:08] #312 closed

[2021-01-11 16:11] yenoomluap commented on #548
Yes @phdhiren I'm facing the issue of adding a member to a team.  We have been able to do this in the past.  It is now not working.

[2021-01-12 10:50] phdhiren commented on #548
@tool-rules ,

1. What system level and/or code level changes have been made after it was working (in the past)? Was there any other modules added since it was working?
2. Did you tried revert to earlier backup on test enviornment?

[2021-01-12 16:20] cnovak commented on #524
Closing since PR is now merged.

[2021-01-12 16:20] #524 closed

[2021-01-12 16:54] yenoomluap commented on #548
1) recent changes: update edge module from 1.1 to 1.17, update webform from 5.1 to 5.22, core update 8.7.1 to 8.9.7 to 8.9.10
2) I would expect reverting to earlier backup would work, but that would remove security updates, etc?

composer.json
[code]

view after attempting to add user

![view after attempting to add user](https://user-images.githubusercontent.com/8030275/104346826-7c8f7900-54c5-11

[2021-01-12 17:02] tool-rules commented on #548
view after attempting to add user

![view after attempting to add user](https://user-images.githubusercontent.com/8030275/104346826-7c8f7900-54c5-11eb-97c1-55d6f8b2b1b2.png)

[2021-01-13 03:21] raakesh-blokhra commented on #521
The internal team wasn't able to reproduce the issues with newer versions of Hybrid / NGSaaS. We will close this issue but feel free to re-open it in case the issues are not resolved.

[2021-01-13 03:21] #521 closed

[2021-01-13 16:25] yenoomluap commented on #548
@phdhiren  it seems when we update edge module from 1.1x to 1.12, invite/add member function breaks.

[2021-01-13 19:12] melayyoub commented on #313
This issue still in Core 8.9.10 Apigee Edge 8.x-1.20 , if you still have this issue just go to the includes/apigee.inc and change lines 99-117 from

[code]

to

[code]

[2021-01-14 01:19] raakesh-blokhra commented on #313
Thanks @melayyoub ... we will review the suggestions and take the necessary action.

[2021-01-14 15:55] m-khan23 opened #549 "Cannot use Apigee Rules"
## Description
We are trying to use Reaction Rules with Apigee to manage API Access Control. However, Rules throws an error with any Apigee Edge Related Rule (Apps, Teams, Products, etc)

## Steps to Reproduce
1. Home  -> Administration ->  Configuration  -> Workflow  Rules
2. Add Reaction Rule
3. 'After Adding an API Product'
4. Add any Label
5. Save

Error is thrown

## Notes

Here is the error

[2021-01-15 13:50] m-khan23 commented on #549
Able to fix this by:

Removing drupal/typed_data (1.0.0-alpha5)
Installing drupal/typed_data:1.x-dev
Installing drupal/rules:3.0.0-alpha6

May want to update documentation here:
https://www.drupal.org/docs/contributed-modules/apigee-edge/manage-reaction-rules

[2021-01-19 15:46] yenoomluap commented on #548
Hello, we'd like to update edge module to >= 1.12 as you have marked 1.12 as resolving security concern.  Apigee support ticket informs us we must use github reporting to request assistance with this.  Is someone available to review why we are unable to update past 1.11?

[2021-01-19 17:14] phdhiren commented on #548
@tool-rules ,
Can you turn on debugging - To collect the request/responses going to Apigee, have them give us those logs. We can then use that info to see what data is being passed in that causes this issue.
At the same time, I'm also trying to replicate the issue with above mentioned version

[2021-01-19 20:08] yenoomluap commented on #548
Our installation is on premises.  Which logs are needed, and where would we securely send to?

[2021-01-20 03:53] cnovak commented on #548
Our module's documentation explains [how monitor Apigee API debug logs](https://www.drupal.org/docs/8/modules/apigee-edge/monitor-apigee-edge-debug-logs). If you can pull out the API call/responses that happen after replicating issue, we can see why this issue is happening. If there is any sensitive info, you can modify/sanitize it before posting it. You can also send it directly to me, my email i

[2021-01-20 03:58] cnovak commented on #549
Thanks for update @m-khan23 . I am going to reopen so that we can verify and document this like you pointed out.

[2021-01-20 06:56] #334 closed

[2021-01-20 16:02] #541 closed

[2021-01-20 16:53] raakesh-blokhra commented on #549
@jbennett13 Can you please check this and document the above as needed? Please close the issue after it is addressed. Thanks.

[2021-01-21 07:24] varuntit101 commented on #481
hi @raakesh-blokhra @phdhiren any update on this issue.

[2021-01-21 16:47] raakesh-blokhra commented on #481
@varuntit101 Thanks for your patience. We have identified the issue and are working on it. We will get back to you as soon as it is resolved.

[2021-01-22 15:44] #248 closed

[2021-01-25 06:02] phdhiren commented on #481
Duplicate of # https://github.com/apigee/apigee-client-php/issues/105

@varuntit101 , Check the latest patch of https://github.com/apigee/apigee-client-php/issues/105 i.e.
https://github.com/phdhiren/apigee-client-php/commit/bf68932105db97d74192de9718a6b26fff8f4ed3

Please note the patch is under review.

[2021-01-25 10:07] phdhiren commented on #548
@tool-rules ,
With the [release 1.12](https://github.com/apigee/apigee-edge-drupal/releases/tag/8.x-1.12) team member autocomplete is removed. You need to add full email address comma separated in case of multiple.
From log seems the developers variable is coming blank or single.

[2021-01-25 17:13] apickelsimer opened #552 "Analytic reports not working with hybrid-enabled orgs"
## Description
I am receiving an error on the analytics page for a hybrid-enabled org

## Steps to Reproduce
Steps to reproduce the behavior:
1. Go to '/user/{user}/apps/{app}/analytics

## Actual Behavior
An error is displayed in the UI "Unable to retrieve analytics data. Please try again." If you check the logs, you will see the following:

`{
  "error": {
    "code": 400,
    "message": "Invali

[2021-01-25 18:33] yenoomluap commented on #548
@phdhiren I'd be happy to send you a video of what is being entered - I cannot post it as there would be no way to sanitize.

[2021-01-25 20:57] mxr576 commented on #552
This is a duplicate of https://github.com/apigee/apigee-edge-drupal/issues/481 and https://github.com/apigee/apigee-client-php/issues/105.

[2021-01-25 23:27] cnovak commented on #548
Feel free to share it w/me, my email is in my profile. I can then share it w/the team.

[2021-01-25 23:29] cnovak commented on #548
If you have an Apigee support account, you can also share information through a ticket opened there, and it can get to us also.

[2021-01-28 06:52] phdhiren opened #553 "Automated tests are failing for more then 1000 developers"
## Description
Following tests are failing if the organization having more then 1000 developers during the automated test.

testFieldableDeveloperApp
testQueries
testPermissions
testDeveloperSync
testDeveloperAsync
testCliDeveloperSync

## Steps to Reproduce
Steps to reproduce the behavior:
1. Configure the module with organization with more then 1000 developers
2. Run tests especially - run-funct

[2021-01-28 23:43] cnovak commented on #548
@tool-rules @phdhiren an error is being thrown in the `validateForm()` method:

[code]

On line 181 in `AddTeamMembersForm` the call `$form_state->getValue('developers', '')` is returning an array instead of a string which causes `explode()` to fail, which causes the `$emails` array to be null: https://github.com/apigee/apigee-edge-drupal/blob/0d88019a0f6e2994005cecbfce8d1f50471429d1/modules/apige

[2021-01-29 04:25] phdhiren commented on #548
@tool-rules,

We need few more checks here:
1. Please test once more after the following steps:
  - Change theme to default theme
  - Clear cache
  - Try adding a member
2. On your browser, please right click on the textbox (where you enter user) -> inspect element, and copy the "NAME" of that field.
3. Since the field has changed from a textbox (older versions) to textarea in newer versions. We a

[2021-01-29 08:16] #466 closed

[2021-01-29 08:17] #331 closed

[2021-01-29 08:17] #333 closed

[2021-01-29 20:15] yenoomluap commented on #548
@phdhiren - here is the  name:

`<input data-drupal-selector="edit-developers" aria-describedby="edit-developers--description" type="email" id="edit-developers" name="developers" value="" size="60" maxlength="254" class="form-email required" required="required" aria-required="true">`

[2021-02-01 13:52] phdhiren commented on #548
@tool-rules ,

Is there any custom code which alters from the default textarea to textbox?
Did you checked for point 1 and 3?

[2021-02-01 17:47] yenoomluap commented on #548
We checked on number 1 and 3. changing #1 to a default/basic theme made no change
For number 3, grepping code we see nothing referring to textbox.

This is the custom code we found which touches on adding member to organization:

[code]

[2021-02-01 18:06] cnovak commented on #548
@phdhiren you are working on tasks in https://github.com/apigee/apigee-edge-drupal/issues/548#issuecomment-769472262 correct?

@tool-rules did you try disabling custom modules on a test instance to see if it change behavior?

[2021-02-01 18:06] phdhiren commented on #548
@tool-rules ,

If you can disable this form_alter function on test environment and check especially last two line #element_validate and #type
Probably the function 'devportal_organization_form_apigee_edge_teams_add_team_member_form_alter_validatie_email' is changing the data.

With the release [8.x-1.12](https://github.com/apigee/apigee-edge-drupal/releases/tag/8.x-1.12) autocomplete of email is r

[2021-02-01 19:01] yenoomluap commented on #548
when we comment out:

[code]
it restores function.  Was that your suggestion?

[2021-02-01 19:18] phdhiren commented on #548
@tool-rules ,
Yes, this was the suggestion. Did that resolve your issue?

[2021-02-01 22:25] yenoomluap commented on #548
@phdhiren, yes this resolves our issue.  Thank you for your time.

[2021-02-01 22:25] #548 closed

[2021-02-01 22:47] cnovak commented on #548
Thanks @phdhiren , glad we figured it out.

[2021-02-01 22:57] cnovak opened #554 "Handle situations when $form_state->getValue brings back wrong type in AddTeamMembersForm"
Aan error is being thrown in the `validateForm()` method:

[code]

On line 181 in `AddTeamMembersForm` the call `$form_state->getValue('developers', '')` is returning an array instead of a string which causes `explode()` to fail, which causes the `$emails` array to be null: https://github.com/apigee/apigee-edge-drupal/blob/0d88019a0f6e2994005cecbfce8d1f50471429d1/modules/apigee_edge_teams/src/Form

[2021-02-01 22:59] cnovak commented on #548
I thought about this a bit more, and opened a separate ticket to decide if we want to handle this situation in a way that will make it more clear if this situation arises again by someone adding custom changes: #554

[2021-02-01 23:00] cnovak commented on #554
I wanted to add this as a follow up on #548 in case other developers may have custom changes that would be affected by upgrades, or any other reason. We should decide if this is worth doing.

[2021-02-02 00:16] raakesh-blokhra commented on #554
@cnovak got it, good idea. Will look into this.

[2021-02-03 15:03] aparnak123 commented on #246
Hi Raakesh- Do you have new ticket created for this?
I can be spend sometime designing along with you. Our Fortune client wants RBAC module to control team apps as well.

[2021-02-03 17:29] raakesh-blokhra opened #555 "Show warning on admin regarding RBAC rules being enforced for developer apps (not team apps)"
## Description
This is a ticket based on #246  - [this request](https://github.com/apigee/apigee-edge-drupal/issues/246#issuecomment-743350558).
While configuring API Product RBAC, the access is only enforced for developer app, not for team apps. To avoid confusion, let's add a warning message on the admin to give admins a heads up when configuring API Product RBAC that it is only enforced for dev

[2021-02-03 17:33] raakesh-blokhra commented on #246
Hi @aparnak123 I just did #555  but for now, we will work on adding the warning and we can look into the specifics of letting RBAC enforce permissions for team apps. I will discuss the specifics with @cnovak and add any comments to that ticket. I am closing this ticket for now.

[2021-02-03 19:24] raakesh-blokhra commented on #246
@aparnak123 we can continue working on this issue. I reopened it. The other issue (#555) will be used for adding the warning, while we can continue the discussion here. Let us know what you have in mind.

[2021-02-04 18:10] cnovak commented on #526
Update: The naming has changed:
Apigee X is the new name for 5G and Apigee Edge is the name for 4G, so the radio buttons should be:

- Apigee Edge (Endpoint: https://api.enterprise.apigee.com/v1 )
- Apigee X ( Endpoint: https://apigee.googleapis.com/v1)
- Private cloud (Custom endpoint)

@earth2marsh @arunz6161 FYI

[2021-02-06 00:06] cnovak opened #556 "Add Drupal core version to the user agent string"
## Description
When calls are made to Apigee APIs, the user agent string sends info about the Apigee Edge version and PHP Client version:

`Apigee Edge DevPortal 8.x-1.10 (Apigee Edge PHP Client 2.0.3)`

This task is to add the Drupal core version along with this information:

`Drupal Core 8.19, Apigee Edge DevPortal 8.x-1.10 (Apigee Edge PHP Client 2.0.3)`

[2021-02-06 00:06] cnovak commented on #556
@earth2marsh FYI

[2021-02-06 02:39] earth2marsh commented on #556
Thanks, this info is critical to understanding what versions are in active use!

[2021-02-08 16:50] mxr576 commented on #556
How about `Apigee Edge DevPortal 8.x-1.10 (Apigee Edge PHP Client 2.0.3 | Drupal Core 8.19)`?
This is also a piece of secondary information, just like the PHP API client.

[2021-02-10 16:41] cnovak commented on #556
@mxr576 format makes sense to me, WDYT @earth2marsh ?

[2021-02-10 17:05] earth2marsh commented on #556
Yes, placing it in parens as secondary info makes sense to me. Nice idea.

[2021-02-11 01:52] aparnak123 commented on #246
Each client has different requirement when it comes to Product access.We can start some generic ones
1)Have a config if if they want to extend role based access control to teams apps.
2)Extend admin functionality to assign each team to have some access to specific list of products.(Few default product to all teams)

[2021-02-15 13:26] ayalador opened #557 "In Teams module - apps, the consumer key and consumer secret are not visible \ does not exists"
The consumer key and consumer secret are masks with *** , but there is no data behind it.
ver 8.X-1.20

![image](https://user-images.githubusercontent.com/63708996/107952234-29b45000-6fa2-11eb-89a5-70db0decb39c.png)

[2021-02-15 14:45] ayalador opened #558 "Changing team status in the APIGEE is not reflected in the portal"
In case of updating the team's status- the status is not reflected in the developers portal.
After creating a company and updating the status to Inactive and from Inactive to active.
The cache is set to 0 (zero).

Ver 8.X- 1.20

[2021-02-15 15:18] ayalador opened #559 "Denormalize logs in the portal - warnings that block the servers"
Denormalize logs are created a lot of times although does not affect the functionality of the portal - it caretes a memory issues in the server.

Log example:
![image](https://user-images.githubusercontent.com/63708996/107964281-c7fbe200-6fb1-11eb-9190-6b69c2494bd8.png)

Ver 8.X - 1.20

[2021-02-16 07:29] acobat commented on #557
I will add - this bug exists only in latest version, 1.20 (before that all works) @cnovak

[2021-02-17 16:09] hollyhw15 opened #560 "Problems regarding adding pagination and ideal solution"
## Is your feature request related to a problem? Please describe.
We face following 2 major problems when adding pagination.

Currently we are using complete custom way of selecting entities based on a views of page display and then using custom JavaScript (collapsible-card.js) to embed this for selecting api products. So, when adding pagination we face following 2 major problems

1. Hiding of Loa

[2021-02-19 15:13] aparnak123 opened #561 "Adding entity reference field to team entity causing validation issue"
## Description
When we add reference field using manage fields for  team entity getting error for  validation as edit form doesn't contain complete team object with all fields.

Error: Call to a member function getValue() on null in Drupal\Core\Entity\Plugin\Validation\Constraint\ValidReferenceConstraintValidator->validate()

## Steps to Reproduce
Steps to reproduce the behavior:
1. Go to  admin/c

[2021-02-19 22:22] aparnak123 commented on #561
@giteshk : I don't want to remove core validation and have custom ones.

Digged in more an found in

/core/lib/Drupal/Core/Entity/Plugin/Validation/Constraint/ValidReferenceConstraintValidator.php

$existing_entity = $this->entityTypeManager->getStorage($entity->getEntityTypeId())->loadUnchanged($entity->id());

This loads only partial team entity without fields...This is causing issue.

[2021-02-22 14:15] phdhiren commented on #557
@ayalador @acobat I checked with 1.20 but could not replicate the issue and I could copy consumer key and secret for Team's App. Is there any other module do exists which may possibly conflict with?

[2021-02-23 06:17] phdhiren commented on #559
@ayalador, I've checked with 8.x-1.20, however could not see any errors in recent logs. Do you've any other custom module enabled along with?

[2021-02-23 16:48] phdhiren commented on #558
@ayalador , I've tried to recreate on test environment, however updating the status of company in APIGEE is reflecting immediately to developer portal if cache is set to 0 at admin/config/apigee-edge/team-settings/caching. Do you have any additional caching enabled at Drupal or at server level?

[2021-02-24 03:35] #526 closed

[2021-02-24 16:36] raakesh-blokhra commented on #561
@aparnak123 I am looking into this, will revert back shortly. Thanks

[2021-02-25 23:43] aparnakcvs commented on #557
/**if you are using custom theme wrapper got changed .. Please
New file should in your theme**/

/**profiles/contrib/apigee_devportal_kickstart/themes/custom/apigee_kickstart/templates/apigee/apigee-secret.html.twig
****/
/*
 * Implement template_preprocess_app_credentials().
 */
function cvs_preprocess_app_credential(&$variables) {
  // Render the consumerKey and the consumerSecret as secret fiel

[2021-02-26 00:12] aparnak123 commented on #557
template got changed.. If you are using custom theme.. please copy proper new twig and includes (apigee.inc) changes

1) custometheme_preprocess_app_credential(&$variables)

2) docroot/profiles/contrib/apigee_devportal_kickstart/themes/custom/apigee_kickstart/templates/apigee/apigee-secret.html.twig

[2021-03-01 17:09] raakesh-blokhra commented on #561
We are still working on it. Should have a resolution in a day or so.

[2021-03-02 06:50] phdhiren commented on #552
Resolved with https://github.com/apigee/apigee-client-php/pull/123

[2021-03-02 06:50] #552 closed

[2021-03-02 08:21] ayalador commented on #557
There was a JS conflict due to changes in the module.
We solved it - the issue can be close.

[2021-03-02 08:21] #557 closed

[2021-03-02 10:18] ayalador commented on #558
@phdhiren We checked the issue without any additional development (vanilla) and it seems that in the companies list page the status is reflected correctly. when entering to the company view page the status is not displayed correctly. Note that the status is displayed correctly when logged in as a Drupal admin.

[2021-03-03 14:47] pandatrooper opened #563 "Apigee Edge Module gives error while upgrading from Drupal 8.7 to 8.9"
While performing updates for upgrading Apigee Drupal Kickstart from 8.7 to 8.9, I face integrity constraint violation error.

Steps to reproduce the behavior:
1. Place the portal on maintenance mode and update to the latest version using `composer update --with-dependencies --optimize-autoloader`
2.  Run `drush updb`

## Actual Behavior
While all the updates were carried out successfully, only one

[2021-03-05 07:04] phdhiren commented on #563
@pandatrooper ,

Before doing on production, if you can have following checks
1. `users` and `users_field_data` to have one to one relationship. Both should have same count.
2. uid:0 is considered to be anonymous user of Drupal, if not there you can check this [drupal documentation](https://www.drupal.org/node/1029506)

If the [Developer synchronization](https://www.drupal.org/docs/8/modules/apige

[2021-03-05 07:57] pandatrooper commented on #563
@phdhiren

Thanks for the information. There were a few more. There were around 7 additional `uid` in `users` that were not available in `users_field_data`.

When I checked for these additional 7 users via UI, I was unable to find them in People section. However, if I navigated to their profiles manually via `https://mydeveloperportal.com/user/additionaluid` [ Ex `https://mydeveloperportal.com/use

[2021-03-05 10:02] phdhiren commented on #563
I assume these are spam data as creation date before 51 years seems not logical, creation timestamp seems to be 0. Unknown user should not have administrator role

[2021-03-05 12:29] pandatrooper commented on #563
So manually deleting rows with additional `uids` from the `users` table is the only way around ?

[2021-03-05 12:39] phdhiren commented on #563
Current yes that seems to be better option. As I've also tried from 8.7 to 8.9 but its not due to migration but due to earlier data in database.

[2021-03-05 14:39] phdhiren commented on #313
I'm not able to replicate with latest build.
The warning is separate issue tracked at https://github.com/apigee/apigee-client-php/issues/108 for which I can see PR

[2021-03-08 09:25] ayalador commented on #558
@phdhiren Hi, it is a BUG, I am not able to change the label.
please advise.

[2021-03-08 11:44] phdhiren commented on #558
I'm able to replicate when user is not admin and cached data is coming. With admin user status is displayed correctly.

[2021-03-09 05:35] ayalador commented on #559
@phdhiren The teams module is also enabled.
It seems that the issue is due to data that we get from the APIGEE that includes optional fields, in case that the data does not exists the log is created. The fields are not mandatory so the log should not be created.

[2021-03-09 05:37] ayalador opened #564 "Option to edit team information for an "inactive" team"
## Description
We need the option for the user to update information in the EDIT tab.
It was enabled in previous versions. currently we get an error message.

## Steps to Reproduce
Create a new TEAM and update in the APIGEE the status to "inactive"
Go to EDIT tab in the team details.
An error message is displyed.

## Expected Behavior
The user should be able to update information

## Screenshots
!

[2021-03-09 08:40] phdhiren commented on #559
@ayalador , If you can share more info around this? Can you enable debug module and share the [debug log](https://www.drupal.org/docs/8/modules/apigee-edge/monitor-apigee-edge-debug-logs) after sanitization

[2021-03-10 00:37] hollyhw99 opened #565 "CSS: fa-eye and fa-eye-slash images disappeared from user browser after the Performing fontawesome_update_8001"
## Description
we updated the fontawesome_update_8001 during the recent composer update. fa-eye and fa-eye-slash images disappeared from user browser  after that. User has no image to click on to view their app key and secrect.

## Steps to Reproduce
Steps to reproduce the behavior:
1. composer update
2. drush updatedb step: say yes with fontawesome_update

The following updates are pending:
fonta

[2021-03-10 08:44] mxr576 commented on #559
@ayalador I think this is related to this bug: https://github.com/apigee/apigee-client-php/pull/122

[2021-03-11 04:37] phdhiren commented on #565
@hollyhw99 ,

Can you confirm if `Load Font Awesome library?` option is enabled in 'Font Awesome settings Add to Default shortcuts
'  (URL `/admin/config/content/fontawesome`)

With vanilla installation, It is enabled after upgrade.
The option `Load Font Awesome library` should be enabled, which is loading the fa-eye and fa-eye-slash images.

[2021-03-11 10:09] phdhiren commented on #564
The change has been made intentional by design - You can more info why it has been disabled from https://github.com/apigee/apigee-edge-drupal/issues/508

[2021-03-11 10:09] #564 closed

[2021-03-11 11:32] phdhiren commented on #563
@pandatrooper,

Closing the issue as it is specific to user data, feel free to reopen if issue persist.

[2021-03-11 11:32] #563 closed

[2021-03-11 16:19] hollyhw99 commented on #565
hi, phdhiren

Thank you so much for getting back to me.
Did I do it correctly with the external file configuration setting? Seems like the problem was fixed after these boxes checking, just want to double check if I did it correctly.

![image](https://user-images.githubusercontent.com/36746092/110818789-73f7bc80-8242-11eb-9f36-eea74a947fa9.png)

[2021-03-11 16:19] #565 closed

[2021-03-12 04:43] #343 closed

[2021-03-15 12:40] vchikane opened #566 "Cron job to synchronize Developers from Apigee edge to drupal dev portal"
## Is your feature request related to a problem? Please describe.
Currently, we are adding developers from Apigee edge only (Kind of on-boarding). We are then performing certain custom operations related to monetization from the developer portal. The developer portal is only accessible to admins and some other custom roles that can perform operations for any developer. So basically, the developer

[2021-03-15 13:22] phdhiren commented on #566
Hi @vchikane ,

Consider the [documentation](https://www.drupal.org/docs/8/modules/apigee-edge/synchronize-developers-with-apigee-edge)  which explain how you can synchronize the developers.

There is drush and drupal command also available

`$ vendor/bin/drush apigee-edge:sync`

[2021-03-16 05:27] vchikane commented on #566
@phdhiren Thanks for the document. Though I have already explored this option of synchronization on the developer portal. But this has to be done manually. What I need is, this should be done automatically at a certain frequency. The reason behind this is, the client will create developers on Apigee edge UI. But a different developer portal user will perform certain activities for that developer.

[2021-03-16 05:37] phdhiren commented on #566
@vchikane ,
It is recommended from documentation to use the Drupal portal to manage app developers instead of using the Apigee Edge UI with reasons.
The developers sync via command line is already there using drush or drupal - this would be automatic option, when set in crontab,

[2021-03-16 05:52] vchikane commented on #566
Got it @phdhiren Let me explore this and try. Thanks for the suggestion :)

[2021-03-16 05:52] vchikane commented on #566
Got it @phdhiren Let me explore this and try. Thanks for the suggestion :)

[2021-03-17 19:22] cnovak commented on #481
reopening this ticket since the PR is not merged.

[2021-03-18 04:26] phdhiren commented on #481
The issue is be fixed by https://github.com/apigee/apigee-client-php/pull/123 which is merged and it it will be part of next release of https://github.com/apigee/apigee-client-php

[2021-03-22 20:20] sivakrishna-yarlagadda opened #567 "TypeError: Argument 1 passed to Drupal\apigee_edge\Entity\Developer::setEmail()"
Please help us on following error.

The website encountered an unexpected error. Please try again later.
TypeError: Argument 1 passed to Drupal\apigee_edge\Entity\Developer::setEmail() must be of the type string, null given, called in /var/www/devportal/web/modules/contrib/apigee_edge/src/UserDeveloperConverter.php on line 107 in Drupal\apigee_edge\Entity\Developer->setEmail() (line 358 of modules

[2021-03-23 21:02] sivakrishna-yarlagadda commented on #567
Please find below steps to replicate issue

 1)Install Apigee kickstart Drupal 9
 2)Install Ldap module and configure it
 3)User successfully able to register   in ldap server, we are getting following error message when we try to login from developer portal.

 The website encountered an unexpected error. Please try again later.
 TypeError: Argument 1 passed to Drupal\apigee_edge\Entity\Developer:

[2021-03-24 05:57] phdhiren commented on #566
@vchikane , Hope the solution worked for you. Closing the issue, feel free to open if required.

[2021-03-24 05:57] #566 closed

[2021-03-24 06:05] vchikane commented on #566
Hi, @phdhiren I actually couldn't find where to add that command. I found that it has to be added in the Cron.php file, but as I am new to the developer portal and PHP. So couldn't figure out how to add it. If you could help, would be great.

[2021-03-24 07:01] phdhiren commented on #566
@vchikane,
Here is the some reference to set the crontab in Linux and can be schedule per your choice.

https://phoenixnap.com/kb/set-up-cron-job-linux

[2021-03-24 07:09] vchikane commented on #566
Sorry @phdhiren I didn't understand. Are you saying that I need to setup this cron on a server? Can't it be done on the developer portal itself?

[2021-03-24 10:12] phdhiren commented on #566
@vchikane, "Background developer sync" option mentioned in [documentation](https://www.drupal.org/docs/contributed-modules/apigee-edge/synchronize-developers-with-apigee-edge) will allow you sync along with Drupal cron. As you mention, you need the automated job, which will be fulfilled by the drush command.

[2021-03-24 13:39] boobaa opened #568 "apigee_edge_teams_update_8701() conflicts with \Drupal\apigee_edge_teams\Form\TeamPermissionsForm::submitForm() via \Drupal\apigee_edge_teams\Entity\Storage\TeamRoleStorage::changePermissions()"
## Description
As `apigee_edge_teams_update_8701()` calls `\Drupal\apigee_edge_teams\Entity\Storage\TeamRoleStorage::changePermissions()` differently than `\Drupal\apigee_edge_teams\Form\TeamPermissionsForm::submitForm()`.

Looks like `\Drupal\apigee_edge_teams\Entity\Storage\TeamRoleStorage::changePermissions()` is prepared for being called from `\Drupal\apigee_edge_teams\Form\TeamPermissionsForm

[2021-04-13 22:08] yenoomluap opened #570 "403 status code when accepting/declining invitation"
## Description
A user cannot accept/decline a team invitation directly from email if they are not currently logged into the site.
## Steps to Reproduce

Attempt 1 - fail
User receives an invitation to join a team
User clicks the link to accept/decline the invitation received
User receives status code 403 forbidden

Attempt 2 - win
User receives an invitation to join a team
User logs into the devel

[2021-04-14 13:59] raakesh-blokhra opened #572 "Apps credentials section consumer key/secret fisheye UI issue"
## Description
When we try to expand consumer key, the product section overlaps with the textbox.

## Steps to Reproduce
Steps to reproduce the behavior:
1. Go to edit App Page
2. Click on expand icon

## Actual Behavior
The consumer key and secret is overlapping with the product information on the right.

## Expected Behavior
The consumer key and secret should show without overlapping with the pr

[2021-04-14 16:50] raakesh-blokhra commented on #570
Thanks @yenoomluap

We'll get this sorted out shortly. @phdhiren please take a look and revert back.

[2021-04-14 18:37] yenoomluap commented on #570
@raakesh-blokhra Is reproduceable on your side - I'm not leaving out possibility it is issue on our side.

[2021-04-14 18:39] raakesh-blokhra commented on #570
I haven't tested it yet. We are in the process of a release, so I have requested @phdhiren to check and see if it can be reproduced, and if so, resolve it, or get back to you in the next 24 hours or so.

[2021-04-16 13:10] sarathjasrin opened #573 "Event list for Developer App Entity"
How I can listen for the events. For example when user created a new app I want to call a external api. For create,update,delete I can listen for EntityEventTypes.

But what if I want to listen Developer app approval process [`Key Status`].  And product approval process.

If those events available what are those name?

I'm currently using `hook_event_dispatcher` module.

[2021-04-17 19:27] phdhiren commented on #570
@yenoomluap, @raakesh-blokhra,
I could replicate the issue with given steps.

Possible solution:
Instead of providing link to sign up (register) link, we should provide sign in (login) link, while we by default assume that invited member is already member.

New user registration can be different for each of the portal https://www.drupal.org/docs/user_guide/en/config-user.html#s-steps
The invite li

[2021-04-19 07:27] #572 closed

[2021-04-19 23:47] fhirfly commented on #573
I am having the same issue.  I need to register the app with another server once it's approved and cannot figure out how to get an event notification...

[2021-04-20 06:45] phdhiren commented on #559
@ayalador Can you confirm, the issue got solved with apigee/apigee-client-php#122 ?

[2021-04-22 02:19] ayalador commented on #558
@phdhiren Any plan in resolving the issue?

[2021-04-22 09:15] shishir-intelli commented on #573
Hi @sarathjasrin
The Apigee Edge Actions module provides support for a number of Apigee Edge-specific Events.
I believe you are looking for this Event  `apigee_edge_actions_entity_insert:developer_app` triggered after saving a new App.

For more details on Apigee Edge-specific events which are supported out of the box please check  [Apigee Edge Actions](https://www.drupal.org/docs/contributed-modu

[2021-04-22 09:27] shishir-intelli commented on #573
Closing this ticket for now. Feel free to reopen in case you are still having any issues.

[2021-04-22 13:25] phdhiren commented on #558
Let me add the ticket to next milestone

[2021-04-22 21:27] yenoomluap opened #576 "Callback URL forces http/https"
(basically recreating https://github.com/apigee/apigee-devportal-kickstart-drupal/issues/447)

Description
When editing app, it enforces callback url to begin with http or https, if trying to change the regexp pattern to allow .* for example it still forces http/https. Basically a native client will have its own reserved URL scheme and would require to register "myapp://" as their callback.

In ad

[2021-04-22 21:31] yenoomluap commented on #576
Temporary workaround.

First step:
add the protocol (ex. sap) to the protocol_filter list at web/sites/default/services.yml

filter_protocols:
  - http
  - https
  - ftp
  - news
  - nntp
  - tel
  - telnet
  - mailto
  - irc
  - ssh
  - sftp
  - webcal
  - rtsp
  - sap

second step:
rebuild the drupal cache (drush cr)

third step:
manually add the redirect uri to the app in edge ui

![add the red

[2021-04-22 23:18] sarathjasrin commented on #573
@shishir-intelli  I can listen to insert event. But I want to listen to Developer app approval process [`Key Status`]

[2021-04-23 08:59] #570 closed

[2021-04-23 10:16] phdhiren commented on #481
This has been resolved with latest version of apigee-client-php library [2.0.7](https://github.com/apigee/apigee-client-php/releases/tag/2.0.7)

[2021-04-23 10:16] #481 closed

[2021-04-25 04:42] ayalador commented on #558
@phdhiren  what is the timeline for next milestone?
Thanks

[2021-04-26 06:54] phdhiren opened #577 "Update App analytics metrics - Support BigQuery as source data"
## Is your feature request related to a problem? Please describe.
With the migration from Postgres to BigQuery as the source of data for analytics, there are some changes in the apis which are not backward compatible - which breaks the App Analytics page

## Describe the solution you would like
Following supported queries, the corresponding metric queries needs to change.

- Average Response Time

[2021-04-26 12:43] #577 closed

[2021-04-26 18:51] mukhan-23 opened #580 "Opening a Team invitation shows Access Denied if user is not logged in"
## Description
When a user receives a Team invitation, if they are not logged in, they immediately get an 'Access Denied' page. They should be redirected to login if they are an anonymous user.

## Steps to Reproduce
Send a Team invitation. Open team invitation in incognitio window

## Actual Behavior
Access Denied Error

## Expected Behavior
User redirected to login if they are anonymous

[2021-04-27 04:26] phdhiren commented on #580
Duplicate of #570

[2021-04-27 08:19] phdhiren commented on #533
@cnovak ,

Can you please review to close this issue?
https://www.drupal.org/docs/contributed-modules/apigee-edge/configure-the-connection-to-apigee

Thank you @jbennett13  for updating the documentation which looks good to me. I've updated one of figure which reflect latest change of #526

[2021-04-27 09:40] shishir-intelli commented on #561
Hi @aparnak123 ,

Sorry for the late response.
This issue seems to be Drupal core entity system issue. I will create a PR for this issue in https://github.com/apigee/apigee-devportal-kickstart-drupal.

Meantime, I will advice you to try this patch https://www.drupal.org/files/issues/2021-04-23/validate-reference-constraint-3210319-3.patch for resolving your teams edit issue.

You can add this belo

[2021-04-27 15:27] #558 closed

[2021-04-28 04:20] phdhiren opened #581 "Disable cache while cache_expiration is set to 0"
## Is your feature request related to a problem? Please describe.
Need to check & resolve, if cache_expiration time is respected, especially if it is set to 0 throughout apigee_edge module

## Describe the solution you would like
If the cache_expiration is set to 0, No need to save in the cache bin.

## Additional context
https://github.com/apigee/apigee-edge-drupal/pull/579
Thanks to input from @

[2021-04-28 04:24] phdhiren commented on #580
This has been resolved with the pull #570

[2021-04-28 04:24] #580 closed

[2021-04-30 06:09] shishir-intelli commented on #561
Hi @aparnak123

Hope that patch worked.
Please let us know if you face any further issue.

[2021-05-06 06:31] jyotierudkar opened #582 "Apigee Edge is not rendering in Drupal 9.1.7 with Golden AMI"

[2021-05-10 15:02] phdhiren commented on #213
This has been updated

[2021-05-10 15:02] #213 closed

[2021-05-10 16:04] shishir-intelli commented on #573
Hi @sarathjasrin
Developer app approval/revoke process takes place in Apigee Edge. There is no events that are triggered when the approval for apps is initiated. The status in the devportal is updated by an API.

Currently there is no plan to add this feature, however we will definitely look into this in future.
Closing this ticket for now. Feel free to reopen in case you are still having any issu

[2021-05-10 16:04] #573 closed

[2021-05-10 20:02] yenoomluap commented on #576
@cnovak what are your thoughts on this?

[2021-05-10 20:06] laughingbiscuit opened #583 "Allow customization of management API URL for Apigee X/Hybrid"
## Is your feature request related to a problem? Please describe.
In order to integrate with external Identity Providers, it is common to proxy management API calls to add custom behavior. This might include mediating/orchestrating between the management API and another source. In the past this was easy by using Private Cloud settings and providing your own Management API URL.

## Describe the sol

[2021-05-10 22:17] lalit774 opened #584 "Disable user/developer deletion in Apigee from drupal"
## Is your feature request related to a problem? Please describe.
- As per our business requirement, we usually do not delete a user from apigee. we are suing employee id as a username in drupal. sometime, employee id is changed due to moving the departments. so our user are getting the problem for login. We delete the users in drupal and resync with apigee. so we will get new user id. But when we

[2021-05-11 14:07] divya-intelli commented on #576
@yenoomluap I tested the temporary workaround as suggested by you, it didn't work for me. Regarding http/https restriction I will let @cnovak respond to it.

[2021-05-11 17:22] cnovak commented on #576
Thanks for detailed information @yenoomluap. @divya-intelli are we adding any restrictions on this field ourselves, or is this only Drupal core doing the validation?  We can open our validation requirements, but if this is a Drupal core validation we will not be able to do anything except document the way to fix it using @yenoomluap steps.

We try to keep as close as possible to Drupal best practi

[2021-05-12 06:15] divya-intelli commented on #576
@cnovak , Drupal core accepts by default 'http and  https' and in devportal we have a configuration page where it validates for http and https to avoid the 'InvalidArgumentException'.
![image](https://user-images.githubusercontent.com/75604843/117924339-34695180-b313-11eb-84b1-8b5ea277abf0.png)

[2021-05-12 16:59] giteshk commented on #583
We will review this request.
As an alternative we are working on a custom add-on module that can be enable to allow for this flow, this will be made available in the Apigee DevRel repository.

[2021-05-13 20:29] cnovak commented on #576
@divya-intelli I am not sure how your comment helps. What are the next steps for this issue?

[2021-05-14 08:47] #568 closed

[2021-05-14 08:59] divya-intelli commented on #576
@cnovak  currently for 'callbackurl ' field we are using 'uri_link' field from drupal core .
A solution for this will be to change the field type to 'text' field and have custom validation to allow values from service.yml .

[2021-05-14 10:08] shishir-intelli commented on #561
Closing this ticket for now. Feel free to reopen in case you are still having any issues.

[2021-05-14 10:08] #561 closed

[2021-05-14 12:42] navodit07 opened #585 "Forbidden error when I click on "My Apps" section in Drupal 8 portal"
## Description

I was able to successfully make the connection with Apigee edge and the Drupal 8 portal.  When I click the "My App" under the user account. Then I am getting a Forbidden error while I am viewing the Apps. However, I am able to access the edit screen and also getting all relevant data with is associated with the App. 

## Steps to Reproduce
Steps to reproduce the behavior:
1. Login

[2021-05-14 14:09] divya-intelli commented on #585
@navodit07 can you enable 'Apigee Edge Debug' module and pull out the API call/responses that happen after replicating issue, we can see why this issue is happening. If there is any sensitive info, you can modify/sanitize it before posting it.

[2021-05-14 14:31] navodit07 commented on #585
@divya-intelli  Thanks for your response. Please refer attached screenshot for 'Apigee Edge Debug'.
![apigee-debug](https://user-images.githubusercontent.com/84181674/118285484-1e17ed00-b4ef-11eb-8778-1bf0cbc53692.png)

[2021-05-14 16:40] giteshk commented on #576
@divya-intelli

1. Agree with converting the **callbackurl** field to text
2. We should limit the validation of this field to the Pattern field in the callback configuration.
3. Customers should be allowed to change this regex to whatever they want.
4. We should have a validation on the Pattern field to just validate it is a valid regex and not worry about what protocols. Today the regex tests if

[2021-05-17 06:12] phdhiren commented on #235
Won't fix this issue, as exceptions are not to be translated in Drupal.
https://www.drupal.org/docs/develop/coding-standards/php-exceptions#conventions
https://github.com/apigee/apigee-edge-drupal/pull/545

[2021-05-17 06:12] #235 closed

[2021-05-17 08:54] divya-intelli commented on #585
@navodit07,  can you provide/check the below points.

1.Is there any custom module enabled at the time of this error?
2. Can you give us the version number for 'apigee-edge-drupal', 'apigee-client-php', 'apigee_devportal_kickstart'.
3. Can you share all debug logs with us? Here is the documentation on how to get the [debug log and remove credentials](https://www.drupal.org/docs/8/modules/apigee-ed

[2021-05-17 11:39] navodit07 commented on #585
@divya-intelli  @cnovak

Please find my comment on mentioned points.

1. Yes, But I have uninstalled all custom modules after checking that it's still giving the same error.
2. 'apigee-edge-drupal' is running with 8.x-1.22 version. 'apigee-client-php', 'apigee_devportal_kickstart' modules are not installed in the system as Apigee Edge successfully connected with the Drupal portal and we are gettin

[2021-05-18 07:28] phdhiren commented on #585
@navodit07 ,
Can you confirm apigee_edge_teams module is enabled and really required or not? if not require, uninstall and check.
Further to that can you check with Apigee support that why the api `/companies?expand=true` is throwing 403 Forbidden error?

[2021-05-18 08:24] navodit07 commented on #585
@phdhiren @divya-intelli , Thanks for your help.

The apigee_edge_teams module enabled and I have uninstalled the module then the forbidden error got fixed. But I wanted to know that how we can make work both modules together. We might need to install the apigee_edge_teams in the future. Please refer to the attached screenshot In which you can see what permission I have given in the Apigee portal.

[2021-05-18 14:02] pandatrooper opened #586 "Developer Portal Fails to recognize Apigee Registered Developers"
We have two Developer Portals [ I'll be addressing them `DP1` and `DP2` hereafter ] which are connected to the same Edge Environment.

**Scenario**

- The developer `X` does not exist on Apigee Edge. This user has never accessed either `DP1` or `DP2`.
- This new user `X` logs into `DP1` for the first time, therefore, a new user profile `X` is created in `DP1` as well the user `X` is registered as

[2021-05-19 20:34] raakesh-blokhra opened #587 "Disable editing user email address for logged in user"
## Description
A clear and concise description of what the bug is.
When a user edits their email address, it creates a new account in the backend. There has been planning done internally at b/182997472 and b/187928954 and was decided to disable the email textfield on the user edit form. This will not allow a user to change their email address in the Drupal instance.

## Steps to Reproduce
Steps to

[2021-05-20 07:24] phdhiren commented on #585
Hi @navodit07 ,

Please checkout documentation of [creating custom apigee role](https://www.drupal.org/docs/contributed-modules/apigee-edge/configure-the-connection-to-apigee#create-custom-apigee-role), this should allow the user to access `/companies` api.

[2021-05-21 11:29] mxr576 commented on #587
That must be a regression bug... it did not happen before, for sure. Is it happening on with Apigee X or everywhere ?

@cnovak WOW, that would be a **major, possibly breaking change for existing sites**, even if you go in that direction that should not happen in this major version or it has to be added as disabled by default for existing projects. (Yet, I do not see a reason why it should be enfor

[2021-05-21 11:32] phdhiren commented on #585
@navodit07
I hope your issue has been resolved with above documentation.

[2021-05-21 12:48] phdhiren commented on #582
@jyotierudkar
Can you share error log around that?

You can checkout the [installation instruction from the documentation](https://www.drupal.org/docs/contributed-modules/apigee-edge) and install module using composer

[2021-05-21 17:49] cnovak commented on #587
Thanks for your comments @mxr576. @raakesh-blokhra should be able to give more details on what is happening here. From @mxr576 comments, we should add an issue to review #588 to enforce on the entity level. FYI @giteshk

[2021-05-22 06:58] navodit07 commented on #585
@phdhiren

Thanks for you help to resolve this issue.

I am following above mentioned document to get resolve the issue for teams module which need to work together with Apigee edge.

[2021-05-24 04:48] phdhiren commented on #585
Thanks for confirming, closing the issue.

[2021-05-24 04:48] #585 closed

[2021-05-25 22:23] cnovak commented on #573
I understand how it would be useful to know when the app approval/revoke status changes in Edge, but if an Apigee API provider on the admin side goes into the Apigee UI admin screens and approves an app, there is no event that gets triggered from the API using webhooks or some other method. Because of this, clients of the Apigee API (in our case Drupal) has no way of knowing this event happened.

[2021-05-28 19:12] yenoomluap commented on #570
@phdhiren I see this is closed, when can we expect release?   Thank you

[2021-06-02 06:31] shishir-intelli commented on #586
Hi @pandatrooper

In the above scenario, you need to do `developer sync` in `DP2` so that all the users in same org gets imported in your `DP2` instance. (This will also include the `DP1` users).  Refer developer sync document - [here](https://www.drupal.org/docs/contributed-modules/apigee-edge/synchronize-developers-with-apigee-edge)
Once this is done the X user who registered on `DP1` will able

[2021-06-02 14:19] pandatrooper commented on #586
Hi @shishir-intelli

Thanks for the info.

I am aware that the `developer sync` cron job can be enabled to regularly synchronize users between Edge and Drupal.

However the issue with that is, if there are 1000 developers who are registered on Edge through `DP1`, only a 100 of them would actually access `DP2` ( and vice versa ).

Therefore, if I run a `developer sync` on `DP2`, Drupal would create

[2021-06-04 13:45] shishir-intelli commented on #586
@pandatrooper,

Thanks for the detail information,
For registering a developer who already exists in Apigee Edge and not in Drupal, you have this 2 options as of now.
1. **As an Admin** - If you create an account for a developer on `DP2` using the same email address as registered on Edge, you will get an option with a checkbox (see screenshot) that allows you to still go ahead and create the user

[2021-06-04 14:21] pandatrooper commented on #586
Hi @shishir-intelli

Thanks a lot for the information.

I'm afraid, we don't manually create or modify any information for users through UI unless and until we face the error that I mentioned above. We rely on parameters provided by Single Sign On entirely. For some strange reason, in case of the above error, when Edge refuses to create the developer, Drupal creates a dummy user with just one data

[2021-06-07 12:49] RimonAdel opened #589 "some API products aren't displayed while app creation"
## Description
hello, my issue that not all the API products are shown in the app creation form even for admin. some API products are displayed and others are not. I investigated the API products that are not shown and found no difference between them and the shown ones. also removed the RBAC module and issue still the same, made all users can access all API products and still facing the same prob

[2021-06-08 04:10] #335 closed

[2021-06-08 04:58] phdhiren commented on #589
@RimonAdel
Can you enable 'Apigee Edge Debug' module and share all debug logs with us? Here is the documentation on how to get the [debug log and remove credentials](https://www.drupal.org/docs/8/modules/apigee-edge/monitor-apigee-edge-debug-logs#configure).

[2021-06-08 10:09] heykarthikwithu opened #590 "Exception while generating an URL to confirm identity of a user with existing developer mail"
While generating an URL to confirm identity of a user with existing developer mail. An exception like the below is seen.
`Symfony\Component\Routing\Exception\InvalidParameterException: Parameter "user" for route "entity.user.edit_form" must match "\d+" ("" given) to generate a corresponding URL. in Drupal\Core\Routing\UrlGenerator->doGenerate() (line 204 of core/lib/Drupal/Core/Routing/UrlGenerato

[2021-06-08 19:31] raakesh-blokhra commented on #590
Hi @heykarthikwithu , Can you run the developer sync once to synchronize the users on edge and portal?
Please do the above and if you are still running into the error, send us steps to reproduce it and we'll be able to look into it further. Thanks

[2021-06-09 07:49] RimonTawadrous commented on #589
Hello @phdhiren
thank you for your replay. here are the logs
[logs.txt](https://github.com/apigee/apigee-edge-drupal/files/6621994/logs.txt)

[2021-06-09 07:50] RimonTawadrous commented on #589
** comment removed **

[2021-06-10 05:08] heykarthikwithu commented on #590
`when the developer exists on Apigee but doesn't exist on Portal`
This case is not reproducible in the case of developer sync, But reproducible during the registration.

Ideally, this exception should not happen while triggering notification on registration.

[2021-06-10 11:02] phdhiren commented on #590
@heykarthikwithu

Ideally when setup the Developer portal first time that the developer sync should be triggered
Consider [documentation](https://www.drupal.org/docs/contributed-modules/apigee-edge/synchronize-developers-with-apigee-edge)

Above is the ideal workflow, please advise to use Developer portal instead of Apigee UI for developer.

[2021-06-10 17:48] yenoomluap opened #591 "Cannot view teams/<guid>/members"
## Description
After updating to 1.23, we can no longer view teams/_guid_/members

## Steps to Reproduce
go to site/teams/_guid_/members

## Actual Behavior
Receive message:
The website encountered an unexpected error. Please try again later.

Log Message:
[code]

## Expected Behavior
I expect to see team members view

## Screenshots
![members-view](https://user-images.githubusercontent.com/803027

[2021-06-11 05:06] phdhiren commented on #591
@yenoomluap
Can you help me with caching timeout which has been set in the path `/admin/config/apigee-edge/team-settings/caching`?  Can you invalidate earlier cache, if any.

[2021-06-11 06:10] shishir-intelli commented on #586
Hi @pandatrooper ,

I have created a PR for this issue #592.

I hope this will resolve your issue.

[2021-06-11 06:19] shishir-intelli commented on #567
Hi @sivakrishna-yarlagadda ,

Here it seems that the value of `Email` field is null which is why this error kicked in.

Could you please check are the mapping for fields are configured correctly especially Email  ("`mail`") and then let us know if the issue persists.

[2021-06-11 08:00] shishir-intelli commented on #556
@cnovak
Do you think we should also change "`Apigee Edge DevPortal 8.x-1.10`" to "`Apigee Edge Drupal module 8.x-1.10`" instead?

`Apigee Edge Drupal module 8.x-1.10 (Apigee Edge PHP Client 2.0.3 | Drupal Core 8.19)`

[2021-06-11 15:01] yenoomluap commented on #591
@phdhiren
Invalidate earlier cache had no effect.
We changed the value of caching from 0 to 1, and I'm able to view the members.
Can you explain a little more about this caching and also the -1 configuration for it?

[2021-06-11 15:05] yenoomluap commented on #570
@phdhiren After updating to latest 1.23 release I had thought the experience was to be if a user was not logged into the portal, they would be taken to login page, and then would be able to accept / decline?

Currently we have the same issue, clicking link from email still takes to 403 forbidden page if user is not signed in.

[2021-06-11 15:09] phdhiren commented on #591
@yenoomluap

Yes that is allowed. The value 0 is also allowed you can change that back, as per your need.

You can consider [Configure caching](https://www.drupal.org/docs/8/modules/apigee-edge/configure-caching) section from the documentation.

[2021-06-11 15:12] yenoomluap opened #593 "Inviting user to team, email address is case sensitive"
## Description
If inviting a user to a team, the email address is case sensitive (must match was is registered).  If I invite user with their registered email address of user `john.smith@acme.com`, the user would be able to accept the invitation.
If I invite the same user, but use email address like `John.Smith@acme.com`, portal recognizes this as a different user, and will give 403 forbidden page

[2021-06-11 15:20] yenoomluap commented on #591
@phdhiren If we set the value back to 0, we return to previous issue of not able to view members.  Are you able to recreate?  The value 0 is not allowed for us.

[2021-06-11 16:33] cnovak commented on #556
Yes, this makes sense FYI @giteshk

[2021-06-11 16:36] giteshk commented on #556
How would this look with Monetization module?

[2021-06-14 05:02] phdhiren commented on #593
It seems that the issue is with Drupal core - https://www.drupal.org/project/drupal/issues/2490294

[2021-06-14 05:21] heykarthikwithu commented on #590
@phdhiren Yes, agree with this and this is the ideal way to use the developer portal & apigee (and also this raised issue will not be seen)

But the case in which I raised this issue.. should have a handled expectation instead of an unhandled exception. right?

[2021-06-14 05:52] phdhiren commented on #591
@yenoomluap
I'm not able to recreate above issue with the value 0.
Reopening the issue for you, Can you help with apigee edge debug log, you can share it over email.

[2021-06-14 14:11] raakesh-blokhra commented on #556
@giteshk Are you asking whether we can add Monetization module version as well?

[2021-06-14 16:37] yenoomluap commented on #593
@phdhiren could you advise which patch we would implement for MySQL?  [Would it be comment #37?](https://www.drupal.org/project/drupal/issues/2490294#comment-13968915)

[2021-06-16 07:19] shishir-intelli commented on #556
@giteshk  This is how it will look with monetization module

- With Monetization module enabled

![m10_enabled](https://user-images.githubusercontent.com/75600200/122174819-aef03880-cea0-11eb-93e9-2c6e7d4d4e94.png)

- Without Monetization module

![without_m10](https://user-images.githubusercontent.com/75600200/122174836-b4e61980-cea0-11eb-91cd-04b65ca4fafb.png)

Let me know if this looks good or

[2021-06-16 14:23] giteshk opened #594 "User update on Apigee X not working"
Steps to reproduce:

Try to update First and Last Name on the user on Drupal portal

Expected:
User is updated

Actual:
System throws an error

[2021-06-16 15:00] giteshk commented on #556
@arunz6161 Do you think this format is good to query.

[2021-06-17 11:37] shishir-intelli commented on #594
@cnovak created a PR for this issue, once it is reviewed an approved we will release it.

[2021-06-17 20:36] vjmatl opened #596 "App credentials not visible in application details"
## Description
See below screenshot the App credentials is not visible and it doesnt get copied when clicking on copy button.

Checking if anyone had seen this issue.

## Screenshots
![app_creds](https://user-images.githubusercontent.com/86080241/122467804-f81bb780-cf88-11eb-9529-3fdd31c22bb7.png)

## Version Info:
     Drupal version: 8.9.2
    "apigee/apigee_devportal_kickstart": "^1.17",
    "d

[2021-06-18 09:20] phdhiren commented on #596
@vjmatl

Can you confirm if there are no custom theme/module alter is there? As with above version I'm not able to replicate issue. Specifically around apigee-secret.html.twig or theme_preprocess_app_credential

Also you can share all debug logs with us via Apigee support ticket? Here is the documentation on how to get the [debug log and remove credentials](https://www.drupal.org/docs/8/modules/ap

[2021-06-18 09:23] phdhiren commented on #591
@yenoomluap

I've checked the shared debug log, but those are different for positive and negative case. Do you have any specific observation other then cache settings?

[2021-06-22 16:50] yenoomluap commented on #591
@phdhiren Thank you for checking debug log.  The team cache setting is the only item we found which creates the error (when value is 0).  We have also found that it does not affect viewing team membership altogether.  Some team memberships can viewed, while others cannot.

[2021-06-23 15:16] pandatrooper opened #597 "API Key Rotation Enhancement"
In our existing Developer Portal setup ( v 8.x-1.6 ), we have specified the Default API Key Lifetime under Developer App Settings as 365 days. Please refer the screenshot below for the same

<img width="1048" alt="image" src="https://user-images.githubusercontent.com/30631676/123122063-53571980-d463-11eb-9505-ddb85e512725.png">

When we upgrade to the latest version ( v 8.x-1.23), we need to enabl

[2021-06-24 09:58] shishir-intelli commented on #587
@raakesh-blokhra, @giteshk
This issue is related to https://github.com/apigee/apigee-client-php/issues/153, (https://buganizer.corp.google.com/issues/191000617)

After fix on Apigee UI https://buganizer.corp.google.com/issues/191000617#comment6, here seems to be no way to update a developer's email now for Apigee X and hybrid runtime versions `1.5.0` and `1.5.1`,  apart from this version email upd

[2021-06-26 14:19] mxr576 commented on #556
Since we are planning to change/extend the original format, It just came into my mind if we should switch to a formatting like web browsers are using nowadays. What do you think?

Example:
`Apigee Edge/1.22 (Apigee Edge PHP Client/2.0.3; Drupal/8.9.16; PHP/7.3.11)`
and
`Apigee Monetization/1.10 (Apigee Edge/8.x-1.22; Apigee Edge PHP Client/2.0.3; Drupal/8.9.16; PHP/7.3.11)`

(Monitoring PHP runtim

[2021-06-28 15:34] cnovak commented on #556
I like @mxr576's solution, let's go that direction unless anyone else sees an issue doing this.

[2021-06-29 15:59] giteshk commented on #556
Looks good to me.

[2021-07-01 04:36] #587 closed

[2021-07-05 05:46] shishir-intelli commented on #567
Hope this issue has been resolved,
Closing this ticket for now, feel free to re-open if in case you are still facing any issue.

[2021-07-05 05:46] #567 closed

[2021-07-05 14:54] VladimirAus opened #600 "Cannot install together with apigee-m10n on Drupal 9.2"
### Problem

[apigee/apigee-client-php](https://github.com/apigee/apigee-client-php/) library dependencies:
* [apigee/apigee-m10n-drupal](https://github.com/apigee/apigee-m10n-drupal) requires version `2.0.8`
* [apigee/apigee-edge-drupal](https://github.com/apigee/apigee-edge-drupal/) requires version `2.0.6`

because of that dependency both modules cannot be installed together on Drupal 9.2 with

[2021-07-06 10:29] VladimirAus commented on #600
[code]

[2021-07-06 11:00] VladimirAus opened #601 "Error: Call to undefined method Drupal\apigee_edge\KeyEntityFormEnhancer::config() when failed to connect to Apigee."
## Description
When connection fails, some configuration options are access in incorrect way cause PHP error below

[code]

## Steps to Reproduce
Steps to reproduce the behavior:
1. Install module, setup Apigee connection as environmental variables (insert incorrect credentials).
2. Go to Authentication page [`/admin/config/apigee-edge/settings`]
3. Select `Advanced settings`, select `Apigee Edge:

[2021-07-06 17:54] shishir-intelli commented on #601
Hi @VladimirAus

I followed the same steps mentioned here,
I was not able to replicate this issue, when I clicked `Send Request` with incorrect credentials in Environment-variable I was able to see this
![Screenshot 2021-07-07 8 11 25 PM](https://user-images.githubusercontent.com/75600200/124779673-98994200-df5f-11eb-84a3-11838d9385df.png)

[2021-07-07 12:26] phdhiren opened #603 "Change ClientInterface constant names and HybridOauth2"
## Is your feature request related to a problem? Please describe.
Update naming convention which were introduced in https://github.com/apigee/apigee-client-php/issues/112

[2021-07-07 15:55] shishir-intelli opened #605 "Use Semantic versioning for Drupal modules"
We should switch to Semantic versioning for our modules https://www.drupal.org/node/3108648
The current versioning scheme follows 8.x-* even when our modules are Drupal 9 compatible.

This can be confusing in the future when higher versions of Drupal are available.

Originally created here b/188852818

Version 8+

[2021-07-08 05:55] phdhiren commented on #600
@VladimirAus
We are looking into this issue, I assume it is due to PHP version and symfony/polyfill-mbstring

[2021-07-09 14:39] phdhiren commented on #591
@yenoomluap We have not been able to replicate the issue on our end despite making the cache setting changes as you specified. I will close this issue for now, but if you need further assistance regarding this, please feel free to reopen it.

[2021-07-09 14:39] #591 closed

[2021-07-15 13:06] phdhiren commented on #600
https://github.com/apigee/apigee-client-php/pull/166 should resolve this issue

[2021-07-15 13:10] phdhiren commented on #596
@vjmatl
I hope above have helped. Closing this issue for now, but if you need further assistance regarding this, please feel free to reopen it.

[2021-07-15 13:10] #596 closed

[2021-07-17 02:39] dattasharma540 opened #606 "Drupal Dev portal to Apigee Edge OAuth connection not working"
Hi,

I am trying to connect to Apigee Edge from Drupal Developer portal. I can use Basic auth to connect successfully but it is being deprecated. I configured OAuth, following instructions at https://www.drupal.org/docs/contributed-modules/apigee-edge/configure-the-connection-to-apigee.

Drupal is connecting to OAuth endpoint on Apigee, receiving access token. It is also requesting and receiving r

[2021-07-20 09:37] phdhiren commented on #606
@dattasharma540

Can you please share more parameter like version of the Edge module and output of `composer show`?
What parameter you're  for `Authorization server`, `client secret` and `client id` while changing to OAuth which is mentioned in https://www.drupal.org/docs/contributed-modules/apigee-edge/configure-the-connection-to-apigee#configuring-oauth2-authentication-for-apigee-edge

[2021-07-20 18:48] dattasharma540 commented on #606
@phdhiren

We are using Apigee version 4.50.00.00 (Edge for private cloud).

Here is debug info from Drupal "Apigee Edge general settings" page when I test the connection.
Password is not printed here.

[code]

**Results of composer show**
[composer-show.txt](https://github.com/apigee/apigee-edge-drupal/files/6850555/composer-show.txt)

[2021-07-20 18:59] dattasharma540 commented on #606
Apigee Trace shows Drupal attempting multiple calls. First one is Get Access token. Subsequent calls are all Refresh token.

Refresh token response
[code]

![image](https://user-images.githubusercontent.com/81440848/126379885-761e6370-d86f-4bed-8658-015260573aed.png)

[2021-07-23 11:12] divya-intelli commented on #584
Hi @lalit774, As per the scenario that you have mentioned , doing developer sync will update the user in Drupal portal with the changes done in Apigee edge. [Synchronize developers with Apigee Edge](https://www.drupal.org/docs/contributed-modules/apigee-edge/synchronize-developers-with-apigee-edge) has detailed explanation on how the sync works.

[2021-07-26 20:10] acobat opened #608 "basic auth support"
Hi,

We are aware that Basic Auth for Apigee Management API's (Onprem) is deprecated, yet, still available on latest apigee plugin and Drupal 9.x.

What is the dead line where you will remove the option to work with Basic in UI UX level?

Thanks,

[2021-07-27 10:53] #603 closed

[2021-07-27 14:27] raakesh-blokhra commented on #608
Hi @acobat I have assigned this to Gitesh, he will be able to get us a date.

[2021-07-27 14:31] #559 closed

[2021-07-27 14:32] phdhiren commented on #582
@jyotierudkar  I will close this issue for now, but if you need further assistance regarding this, please feel free to reopen it.

[2021-07-27 14:32] #582 closed

[2021-07-27 14:37] phdhiren commented on #593
@yenoomluap We cannot recommend specific patch since it is Drupal core. I will close this issue for now as its more of Drupal core then Apigee edge, but if you need further assistance regarding this, please feel free to reopen it.

[2021-07-27 14:50] shishir-intelli commented on #601
@VladimirAus,
Closing this issue for now,
Please feel free to reopen, if in case you are still facing any issue.

[2021-07-27 14:50] #601 closed

[2021-07-29 14:48] phdhiren commented on #593
Reopening the issue.
Let's discuss - What other solution can be when the issue with Drupal core.

[2021-07-30 09:10] shishir-intelli commented on #556
For this, there is already a ticket created in Github https://github.com/apigee/apigee-edge-drupal/issues/605 so wont make any changes in this PR.
Once https://github.com/apigee/apigee-edge-drupal/issues/605 is fixed automatically it will get resolved.

[2021-08-02 11:41] acobat commented on #608
@raakesh-blokhra hi, any update on this?

[2021-08-02 15:07] giteshk commented on #608
@acobat I checked with the team we don't have any plans to remove Basic Auth support from the Apigee Drupal module.

I was told we introduced support for OAuth authentication for management APIs from 7.51  but there was no mention of removing Basic Auth support at the moment for OPDK.

I will post back updates when this happens. For now you should feel comfortable using Basic Auth for calling MGMT

[2021-08-02 16:31] acobat commented on #608
Thanks,
but still, this message is confusing
![image](https://user-images.githubusercontent.com/5484385/127894079-4de17227-478b-4bee-b6e0-79d5ba6d9437.png)

So please either remove it or state that this is supported :)

[2021-08-03 07:58] VladimirAus opened #610 "Latest version 1.24 is not installable with Drupal 9.2"
When upgrading to the latest version Drupla 9.2 by ronning  `composer require drupal/apigee_edge -W`

I get the following error

[code]

I resolve this issue in the following merge request https://github.com/apigee/apigee-client-php/pull/162 but it was closed.

[2021-08-04 15:02] phdhiren commented on #610
@VladimirAus
You should be able to do now with 2.x branch, just try `composer update` it should work. We will release newer version for apigee-client-php soon.

[2021-08-04 22:00] hollyhw99 opened #611 ""Re-import OpenApi Spec" tab doesn't work"
## Description
Hi, We are currently on Drupal core 8.9.17, and there is a new Tab showing up in recent deployment.
It is "Re-import OpenApi Spec" tab for any object which has the swagger file. However, this tab seems to have no function.

## Steps to Reproduce
Steps to reproduce the behavior:
Go to any product or category which has a swagger file, and this Tab is there. There is no file uploading

[2021-08-05 14:59] mxr576 commented on #606
Are you sure that this is the correct authorization server? It is usually `https://HOST/oauth/token`. like https://login.apigee.com/oauth/token in the public cloud.

IIRC Automatic retires happens when the Apigee backend returns HTTP > 400.

[2021-08-05 16:15] phdhiren commented on #610
@VladimirAus
With the apigee-client-php:2.0.10 this issue should resolve
https://github.com/apigee/apigee-client-php/releases/tag/2.0.10

[2021-08-05 16:15] #610 closed

[2021-08-05 17:00] phdhiren commented on #600
With latest release of apigee-client-php:2.0.10 above issue should be resolved
https://github.com/apigee/apigee-client-php/releases/tag/2.0.10

[2021-08-05 17:00] #600 closed

[2021-08-06 07:33] phdhiren commented on #606
Runtime OAuth not supported with Apigee Edge. Basic Auth is not deprecated for OPDK yet. Please use Basic Auth for now.
Tracking the same at https://github.com/apigee/apigee-edge-drupal/issues/608

[2021-08-06 07:33] #606 closed

[2021-08-06 07:55] phdhiren commented on #556
@raakesh-blokhra @giteshk
Had given few reason to have at  https://github.com/apigee/apigee-client-php/pull/171#pullrequestreview-720165285
I would suggest to have simpler format so Apigee Edge and Client PHP Library do not have dependency just for UA string

Example:
`Apigee Edge/1.22; Drupal/8.9.16 (PHP Client/2.0.3; PHP/7.3.11)`
and
`Apigee Monetization/1.10; Apigee Edge/8.x-1.22;  Drupal/8.9.1

[2021-08-06 12:12] maxim8898 opened #612 "Critical error when receiving analytics"
## Description
The site crashes with the message "The website encountered an unexpected error. Please try again later." when trying to get app analytics.

## Steps to Reproduce
Steps to reproduce the behavior:
1. Go to analytics page (/user/682/apps/App_Test_Analytics/analytics)
2. Select a long period (From: 2 month ago)
3. Click on "Apply"

## Actual Behavior
ERROR: The website encountered an un

[2021-08-06 12:21] maxim8898 commented on #612
Note: this is not a regular error, it is reproduced on some combinations of filters, for example, for the Message Count filter it works well

[2021-08-06 12:57] phdhiren commented on #612
Can you share PHP and apigee-client-php version along with other Apigee related module's version?

[2021-08-06 14:52] raakesh-blokhra commented on #556
I think this is good and makes sense, also efficient in terms of coding. @giteshk do you see any issues? If not, let's move in this direction. @mxr576 what do you think?

[2021-08-06 15:46] maxim8898 commented on #612
@phdhiren Please see all information about installed modules:

alchemy/zippy                            0.4.9        Zippy, the archive manager companion
apigee/apigee-client-php                 2.0.6        Client library for connecting to the Apigee Edge API.
apigee/apigee_devportal_kickstart        1.23         A fast demo and starting point for Apigee Developer Portals.
asm89/stack-cors

[2021-08-10 10:53] mxr576 commented on #612
Isn't this all about https://github.com/apigee/apigee-client-php/pull/159?

@maxim8898 Can you enable the Apigee Edge debug module and check the response payload when this issue occurs for global averages? (Or by using Xdebug like you did) The only time when I bumped into this different array size issue in this method when Apigee returned a global average in the response (which was not requested).

[2021-08-10 14:59] raakesh-blokhra commented on #555
Closing this issue. Will reopen if needed.

[2021-08-10 14:59] #555 closed

[2021-08-10 15:02] raakesh-blokhra commented on #246
Hi @aparnak123 sorry for the super late response. We got busy with all the other updates. Please let me know if you are still available to work on this. I am closing this issue for now, if you are up for it, please reopen and let's knock it out.

[2021-08-10 15:02] #246 closed

[2021-08-10 16:20] phdhiren commented on #612
@maxim8898
Can you please upgrade all apigee related modules/ libraries to latest version and confirm if you still get the error?
Also, if you can confirm which metric parameters, time span you're getting above error?

[2021-08-10 18:17] raakesh-blokhra commented on #483
Closing this since no activity. Please reopen if needed

[2021-08-10 18:17] #483 closed

[2021-08-10 18:37] raakesh-blokhra commented on #533
@phdhiren and @jbennett13 I don't see a PR associated with it, assuming because it the document needed an update on drupal.org. I will close this issue for now, if there are any pending issues, please let me know and re-open this.

[2021-08-10 18:37] #533 closed

[2021-08-11 11:49] maxim8898 commented on #612
Hi @mxr576 I see these logs after enabling the Apigee Edge debug module

GET /environments/uat/stats/apps?_optimized=js&filter=%28developer_email+eq+%27SESA533007%40se.com%27+and+developer_app+eq+%27Test_Analytics_Maksim%27%29&timeUnit=hour&tsAscending=false&select=avg%28total_response_time%29&timeRange=01%2F01%2F2021+11%3A46%7E08%2F11%2F2021+11%3A46 HTTP/1.1

GET /v1/organizations/***organization

[2021-08-11 11:51] mxr576 commented on #612
`global-avg-total_response_time` so this is the same issue that https://github.com/apigee/apigee-client-php/pull/159 tries to address.

[2021-08-11 11:52] maxim8898 commented on #612
Got it, any estimation about bug fix?

[2021-08-11 12:25] mxr576 commented on #612
You can install and validate my PR with Composer patches already on your project, confirming that the fix is working in https://github.com/apigee/apigee-client-php/pull/159 could make a push on that issue, I guess :)

[2021-08-11 14:30] maxim8898 commented on #612
I just updated all modules/libraries and applied patch. Now it works fine!

[2021-08-12 09:10] mxr576 commented on #612
Thanks, please also report this positive result on the https://github.com/apigee/apigee-client-php/pull/159 as confirmation that the fix is working.

[2021-08-12 09:26] maxim8898 commented on #612
Sure, I already commented https://github.com/apigee/apigee-client-php/pull/159#issuecomment-896879491

[2021-08-17 07:39] phdhiren commented on #612
@mxr576 , @maxim8898 Appreciate the effort for closing the issue. The code is merged with 2.x branch and it should be available with next release of https://github.com/apigee/apigee-client-php

[2021-08-17 07:39] #612 closed

[2021-08-17 07:47] maxim8898 commented on #612
@mxr576 , @phdhiren Thank you guys for a quick response and a clean solution!

[2021-08-19 21:36] jgorinsky opened #614 "Error after user registration with SimpleSAMLphp"
## Description
When logging in with a new SAML user (a user that exists neither on Edge nor in Drupal), the user is successfully authenticated and registered, but immediately after the initial login, an error and stacktrace is displayed on the user’s profile page (for example: https://developer.example.com/user/47). After navigating away from this page, the error is not shown again and the user ap

[2021-08-20 08:31] shishir-intelli commented on #614
Hi @jgorinsky
Can you also please share me the logs from Drupal recent log page `admin/reports/dblog`.

`array_flip(): Can only flip STRING and INTEGER values`
This error comes when it receives a null value in ID field. So log will help identify the field which is causing this error.

[2021-08-20 11:02] shishir-intelli commented on #614
When I pass the email address as `null` I can see this issue.
Can you please share me the `Edit profile` page screenshot of the user, also please let us know which version you are using.

[2021-08-20 20:58] jgorinsky commented on #614
Hi @shishir-intelli,

The edit profile screenshot is here. I edited the fields to remove the actual name/email, but all three were populated with the correct values.
![edit-profile](https://user-images.githubusercontent.com/1291959/130291752-ae45b61e-a71f-47af-a6a7-9a2bec7752ae.PNG)

The admin/reports/dblog screenshot is here, also with personal info edited out:
![dblog](https://user-images.github

[2021-08-23 08:31] shishir-intelli commented on #614
@jgorinsky Thank you for the information.
I was unable to reproduce the error on my side, However when email id is set to `NULL` I can see the `array_flip` error (Checkout the below screenshot)
![Screenshot 2021-08-23 1 32 27 PM](https://user-images.githubusercontent.com/75600200/130412333-e58135cc-fc68-4a2e-be9d-5bdc5b07ea14.png)

1. Is there any customization done on any file while user registra

[2021-08-24 19:46] jgorinsky commented on #614
@shishir-intelli

That patch does fix the problem.

As far as I can tell, there's no customization that affects the user registration process. We have a custom module, but I disabled it to ensure that it wasn't interfering and was able to reproduce the same issue.

[2021-08-30 20:22] dkim625 opened #617 "Unable to uninstall apigee_egde_teams module with Apigee X connection"
## Description
WIth a valid connection to an Apigee X instance, I get the following error message when attempting to uninstall the `apigee_edge_teams` module.

## Version Info
Version: 8.x - 1.22

[2021-08-31 04:37] dattasharma540 opened #618 "Unable to select checkbox on any field"
Hi,

I am unable to select any checkbox on any page.
_Permissions_ page 100's of checkboxes where as _URL Restriction by Role_ page has only one checkbox. I can't select or un-select anything on either page. See screenshots. AM I missing any module or configuration?

I am running Drupal v8.9

Thanks,
Datta

![image](https://user-images.githubusercontent.com/81440848/131442417-7e415c66-50d1-4486-9c

[2021-08-31 05:13] phdhiren commented on #617
@dkim625

Apigee edge teams is not for Apigee X and should not be installed, there is an installation restriction.
https://cloud.google.com/apigee/docs/api-platform/get-started/compare-apigee-products#unsupported-apis

Please help to understand how you were able to install it.

[2021-08-31 05:56] #614 closed

[2021-08-31 16:57] dkim625 commented on #617
Hi @phdhiren

So originally, I had a connection to Apigee Edge (with Apigee Edge Teams installed) via the Apigee Edge module and I made a switch to Apigee X. Since Apigee Edge Teams is not supported by Apigee X, I tried to uninstall the Apigee Edge Teams module but kept running into the 404 issue.

I may be wrong here but I think the underlying issue is that Apigee Edge Teams is installable with o

[2021-09-01 06:12] phdhiren commented on #617
@dkim625

Apigee Edge Teams module is not allowing to install when Apigee X / Hybrid connection is there and so difficulty while uninstalling. It is for Apigee Edge.

IMO here is what can be done to improve:
1. When someone switch the connection (like your case) - It should ask to uninstall Apigee Edge Teams module
2. Should not validate anything while uninstalling Teams module

@raakesh-blokhra @

[2021-09-01 06:24] phdhiren commented on #618
@dattasharma540

Third party module https://www.drupal.org/project/url_restriction_by_role issue should be open in its own issue queue.
Try to change admin theme, it may help.

Closing this issue as it is not relevant with apigee_edge module issue queue, feel free to reopen if you need any other help.

[2021-09-01 06:24] #618 closed

[2021-09-03 05:48] #556 closed

[2021-09-03 13:50] dattasharma540 commented on #618
Thanks for the tip. I was using default Aapigee_kickstart theme. I switched to Bartik and it worked.

[2021-09-03 15:45] yenoomluap commented on #576
Bump - this is still a major issue.  Considering its importance, hopefully this can move to in progress.

[2021-09-03 17:30] giteshk commented on #576
@yenoomluap we will add this to our board to track.

[2021-09-06 10:25] #608 closed

[2021-09-10 01:18] #597 closed

[2021-09-10 01:18] #590 closed

[2021-09-10 01:18] #589 closed

[2021-09-10 01:18] #560 closed

[2021-09-10 01:18] #581 closed

[2021-09-10 01:18] #554 closed

[2021-09-10 01:18] #549 closed

[2021-09-10 01:18] #511 closed

[2021-09-10 01:18] #493 closed

[2021-09-10 01:18] #414 closed

[2021-09-10 01:18] #422 closed

[2021-09-10 01:18] #374 closed

[2021-09-10 01:18] #372 closed

[2021-09-10 01:18] #371 closed

[2021-09-10 01:18] #369 closed

[2021-09-10 01:18] #370 closed

[2021-09-10 01:18] #368 closed

[2021-09-10 01:18] #367 closed

[2021-09-10 01:18] #364 closed

[2021-09-10 01:18] #366 closed

[2021-09-10 01:18] #363 closed

[2021-09-10 01:18] #345 closed

[2021-09-10 01:18] #319 closed

[2021-09-10 01:18] #344 closed

[2021-09-10 01:18] #318 closed

[2021-09-10 01:18] #295 closed

[2021-09-10 01:18] #274 closed

[2021-09-10 01:18] #294 closed

[2021-09-10 01:18] #272 closed

[2021-09-10 01:18] #221 closed

[2021-09-10 01:18] #239 closed

[2021-09-10 01:18] #220 closed

[2021-09-10 01:18] #219 closed

[2021-09-15 10:21] phdhiren opened #621 "Handle additional information in addonsConfig"
## Description
Few Apigee X organizations have additional property which leads to error while installing the module

## Steps to Reproduce
Steps to reproduce the behavior:

Install the module normal having org which have addittional info in addonsConfig

Sample org response of such organization
[code]

## Actual Behavior
There are few organization where there are additional `addonsConfig` which is

[2021-09-16 09:47] dhinakaran60 opened #622 "Apigee to support multiple organisation in single Drupal instance"
## Description

I need to investigate the feasibility of extending the apigee_edge module to be able to support linking multiple organizations into single drupal installation.

## Steps to Reproduce

i have modified few connector controller file. i was able to switch or connect both prod and non-prod organization. i made the two credentials stored at backend .

/apigee_edge/src/SDKConnector.php

d

[2021-09-17 14:04] Stephen-lapierre-mpf opened #623 "Drupal 9.2.5 RBAC not working"
Description

Having upgraded Drupal, Radix and kickstart on selecting Apps with RBAC no Apps are displayed, only available via creating App and selecting from list.

Steps to Reproduce

Steps to reproduce the behavior:

Go to Apps ( nothing listed except Add
Click on Add App
Scroll down to select app to add
Actual Behavior

Not able to see apps with correct RBAC and role without adding

Expected B

[2021-09-17 15:05] shishir-intelli commented on #623
Hi @Stephen-lapierre-mpf ,

Can you please share below details:
1 . Are you talking about `Apps` or  `API Products` as permissions are for Products only and not for Apps.
2.  Which Org are you using `Apigee Edge` or `Apigee X`.

Also it would be helpful to understand the issue if you share details with screenshots.

[2021-09-17 15:15] Stephen-lapierre-mpf commented on #623
API products that have a custom attribute DRUPAL_RBAC and role assigned in Drupal under /admin/config/apigee-edge/developer-settings/access-control are not visible under the Drupal Apps menu item unless "Add app" is selected. As onboarding 300 developers we wanted to use RBAC to assign API products based on roles and in newer version of Drupal and Apigee Edge is no longer working as expected.

[2021-09-17 15:27] shishir-intelli commented on #623
What was the previous version (Drupal/ Apigee)?

[2021-09-17 15:28] Stephen-lapierre-mpf commented on #623
A few different flavors of Drupal 8

[2021-09-17 15:57] phdhiren commented on #623
Could not reproduce with above detail. Can you share screenshot of what was earlier and how it is showing now?

[2021-09-17 16:01] Stephen-lapierre-mpf commented on #623
Stephen La Pierre
Principal Software Engineer
3 World Trade Center
175 Greenwich Street
New York, NY 10007

From: phdhiren ***@***.***>
Reply-To: apigee/apigee-edge-drupal ***@***.***>
Date: Friday, September 17, 2021 at 11:57 AM
To: apigee/apigee-edge-drupal ***@***.***>
Cc: Stephen Lapierre ***@***.***>, Mention ***@***.***>
Subject: Re: [apigee/apigee-edge-drupal] Drupal 9.2.5 RBAC not working

[2021-09-17 16:04] Stephen-lapierre-mpf commented on #623
Did you get the images sent via email ?

[2021-09-17 16:06] phdhiren commented on #623
Have not received any email, Email id on my profile.

[2021-09-17 16:11] phdhiren commented on #623
Can you check with default / different theme?

[2021-09-17 16:14] Stephen-lapierre-mpf commented on #623
Its using the default theme with additional images added and color changes only.

[2021-09-17 16:15] Stephen-lapierre-mpf commented on #623
The site is visible at https://api-portal.wpp.com

[2021-09-17 16:47] phdhiren commented on #623
Is there field got disabled in Developer Apps settings? Which is available on the page `/admin/config/apigee-edge/app-settings/developer-apps/display`

How 'Apps' page was showing earlier?

[2021-09-17 17:02] Stephen-lapierre-mpf commented on #623
I do not see any disabled fields under /admin/config/apigee-edge/app-settings/developer-apps/display. In earlier versions when developer had a role that was mapped to a matching DRUPAL_RBAC attribute in API product the name would display as collapsable card and allow the selection of Consumer key under credentials. The application list gave easy visual indication as to what Applications the user h

[2021-09-20 13:14] mxr576 commented on #622
Supporting multiple organizations in one site is a complex task and it is not a common scenario. There are a few valid reasons for that requirement but generally speaking, if you had to separate data between orgs (eg.: due to data security requirements), you should probably do the same on the devportal side too.

When this module (family) was built, supporting multi-org was not required (it was a

[2021-09-20 13:34] dhinakaran60 commented on #622
Hi @mxr576 ..

Thanks for the update i completely agree your statement. its not the common scenario and this is one of the requirement needed on my application

i was only expecting to support the technical notes or replacement for   **drupal_flush_all_caches();**
Since you guys are well known about the caching technique on this module implementation.

I can manage implementing this multiple org o

[2021-09-21 13:08] mxr576 opened #624 "Rollback or fix #609 or find an alternative solution"
## Description
PR #609 was merged but there are several problems with it.

Approach 1) If we would like to keep the _current_ solution then it should be fixed, see review comments on https://github.com/apigee/apigee-edge-drupal/commit/1f15f9148f15066c6ba7584f8e9c56ac5ce654e7

Approach 2) Since even Drupal core is tending to get away Drupalism called "alter hooks" and use events, the SDKConnector s

[2021-09-21 13:11] mxr576 commented on #624
@shishir-intelli @cnovak What do you think? I have not had time to review the final version of #609 but I have concerns with the merged state.

[2021-09-21 14:38] Stephen-lapierre-mpf commented on #623
---------

Removing image since it has PI information on it. Please hide/cross out any email addresses  and other personal information from images and attachments in future.

----------

[2021-09-21 16:02] raakesh-blokhra commented on #624
@mxr576 acknowledged, I will look into it with @shishir-intelli and see what needs to be done. Thanks for your contributions as always.

[2021-09-22 10:02] shishir-intelli commented on #623
Here is a sample of Apps collapsible card,

![Screenshot 2021-09-22 3 14 03 PM](https://user-images.githubusercontent.com/75600200/134322179-eb91db21-5511-412f-bccb-344d6f94b66f.png)

`mytest` on the top grey is the App name(_created for demo purpose_) which we can create from Drupal portal or from Apigee UI and inside this card on the bottom right hand side we have the API Products `Products`.

C

[2021-09-22 12:57] codetochangeMinds opened #625 "Getting PHP Exception While Installing Apigee Edge Module"
## Description
I am getting an error while installing the Apigee Edge module using the Drupal admin UI.

## Steps to Reproduce
Steps to reproduce the behavior:
1. Go to Drupal Admin UI.
2. Navigate to Extend>Apigee Edge
3. Check the listed Apigee Edge module.
4. Click on the _install_. Click on _continue_.

## Actual Behavior
It gave the php exception
`PHP message: Uncaught PHP Exception LogicExce

[2021-09-22 13:45] Stephen-lapierre-mpf commented on #623
The issue is card created by admin with RBAC set for role, no 0ne in that role can see the card to obtain consumer key.

Stephen La Pierre
Principal Software Engineer
3 World Trade Center
175 Greenwich Street
New York, NY 10007

From: Shishir ***@***.***>
Reply-To: apigee/apigee-edge-drupal ***@***.***>
Date: Wednesday, September 22, 2021 at 6:03 AM
To: apigee/apigee-edge-drupal ***@***.***>
Cc: S

[2021-09-22 16:03] shishir-intelli commented on #625
Hi @codetochangeMinds ,

We will recommend you to install `Apigee Edge` module through composer.

Apigee edge module includes sub-modules also, so please checkout this link to install module correctly using composer
https://www.drupal.org/project/apigee_edge#:~:text=site%20(/admin/modules).-,Installing,-You%20must%20use

[2021-09-23 12:01] codetochangeMinds commented on #625
yeah I have installed using composer only but I am just enabling the module using Drupal admin UI.

[2021-09-23 13:25] dhinakaran60 commented on #622
Hi @mxr576  Can you please help on this

[2021-09-23 13:28] mxr576 commented on #625
The latest patch is required from here is you would like to use Apigee Edge and JSON API on the same site.

https://www.drupal.org/project/drupal/issues/3042467

[2021-09-27 06:25] phdhiren opened #626 "Apigee Actions module but seems it's not compatible with Drupal 9.2.4"
## Is your feature request related to a problem? Please describe.
Not able to install Apigee Edge actions module along with Drupal 9.2.4

## Describe the solution you would like
It should be compatible with latest Drupal version

[2021-09-28 00:37] sumedhafreshgravity commented on #246
@aparnak123 , Our client also has the same requirement to extend role based access control to team apps. To achieve this, I have written a custom module. The features of this module are -
1] Create a role automatically when team is created.
2] Assign this role automatically to each member of the team when user accepts team invitation.
3] Each team has a  tab where we can provide access control map

[2021-09-28 06:39] divya-intelli opened #627 "Apiproduct is not visible if the access type is set to 'Public' or 'Private'"
If the access attribute of an api product is set to 'Public' and 'Private' (notice the capitalization of the first character), it does not match the portal visibility.

[2021-10-01 19:03] #627 closed

[2021-10-03 01:22] #584 closed

[2021-10-03 01:22] #553 closed

[2021-10-04 09:33] phdhiren commented on #623
It was suggested to use Apigee Edge Teams module instead based on requirement on this case.

[2021-10-04 09:33] #623 closed

[2021-10-04 11:23] shishir-intelli commented on #624
We are going with approach #1.

We appreciate the effort and time you have spent to share your suggestion and comments. Thanks @mxr576 !

[2021-10-05 08:23] phdhiren commented on #626
Apigee edge actions module requires https://www.drupal.org/project/rules and any of stable version is not compatible with Drupal 9 currently.

[2021-10-06 01:17] #593 closed

[2021-10-12 08:57] inbalj commented on #591
Hi there,
I have encountered the same problem with D9 installation. I didn't understand how was it fixed.
I would appreciate an explanation.

[2021-10-19 15:35] shishir-intelli commented on #605
Semantic versioning has been implemented.

[2021-10-22 12:18] rameshpongalur opened #634 "How to create app programmatically (Drupal 8 Edge/apigee php sdk)"
I want to create apigee app programmatically in drupal 8 edge. Kindly help me on this.

[2021-10-22 12:48] mxr576 commented on #634
The process is quite similar for this just the entity id is `developer_app`. Every Apigee entity is a regular Drupal entity so the same tricks are working on them.
https://github.com/apigee/apigee-edge-drupal/issues/264#issuecomment-535036590

[2021-10-22 13:20] rameshpongalur commented on #634
@mxr576 Hi thanks for the help. How to pass the values programmatically while creating app?We need to pass app name and developer id right?

[2021-10-25 05:38] shishir-intelli commented on #634
@rameshpongalur,
Yes, app name, developer Id and status.

[2021-10-29 18:57] hollyhw15 opened #637 "display team member's name instead of the email"
## Is your feature request related to a problem? Please describe.
we would like to see the team member list their name instead of the emails.
in current Drupal\apigee_edge_teams\Controller\TeamMembersList, we saw this comment in function buildRow()
// We only display the email address of the member in this case
      // because displaying its first name and last name would require API
      // cal

[2021-11-01 06:49] shishir-intelli commented on #637
@hollyhw15
Yes, the team member API just returns the email address, to get the name of the developer will require a separate API call.

[2021-11-01 18:07] hollyw2025 commented on #637
shishir-intelli
Thank you for your quick response.
At this moment, we have list of users at the portal side:

admin/people

For each user's profile, their name is listed under name:
Example Profile Details
Name:
XXXXX
Username:
XXXXX
Email:
XXXXX

Are admin/people and user's profile name all pulled out from the Api call?

Thank you

Holly

[2021-11-01 18:17] raakesh-blokhra commented on #637
@hollyhw15 I edited the comment above and removed the personal information. You do not need to reshare at the moment as Shishir has that information but in future please avoid posting email addresses, etc here. Instead you can email that information to the user directly. Their email address can be found on their profile.

Thanks for the additional information.

[2021-11-01 22:13] hollyw2025 commented on #637
Thank you, Raakesh

[2021-11-02 05:45] shishir-intelli commented on #637
@hollyhw15
In Drupal portal, `/admin/people` page shows the list of users which are from portal but the developer/people are synced with Apigee Edge while creating/updating the profile through API call(s),

Also, if in case those are not synced then one can go to `/admin/config/apigee-edge/developer-settings/sync` and sync with the Apigee Edge developers.

Coming back to your original question:
At

[2021-11-03 01:22] yenoomluap commented on #576
bump
________________________________
From: github-actions[bot] ***@***.***>
Sent: Tuesday, November 2, 2021 8:15:31 PM
To: apigee/apigee-edge-drupal ***@***.***>
Cc: Paul Mooney ***@***.***>; Mention ***@***.***>
Subject: Re: [apigee/apigee-edge-drupal] Callback URL forces http/https (#576)

This issue has been automatically marked as stale because it has not had recent activity. It will be close

[2021-11-03 22:27] hollyw2025 commented on #637
Shishir
Thank you for your answering. I suspected that our portal has a separate table for users, as I can create different test user account on different platform: dev, stage, local.

I also attached more screenshots, hope it helps
1. under url:/admin/structure/views, people has a view page:
People | user_admin_people | Find and manage people interacting with your site. | Page (/admin/people)
![S

[2021-11-03 22:31] hollyw2025 commented on #637
at url:admin/people,
user's email listed under UserName ,
![Screen Shot 2021-11-03 at 3 28 09 PM](https://user-images.githubusercontent.com/69690136/140207376-7e6fbdff-ec4a-4491-bd5a-5aed6c002afb.png)

 for each user, there are firstname and lastname field

![Screen Shot 2021-11-03 at 3 30 51 PM](https://user-images.githubusercontent.com/69690136/140208317-ab280ac3-cdf0-4127-928b-27e3d3ef0ee3.png)

[2021-11-04 20:29] hollyw2025 commented on #637
found the first_name and last_name field in table `users_field_data` , please advice how to pull them out

INSERT INTO `users_field_data`
(`uid`, `langcode`, `preferred_langcode`, `preferred_admin_langcode`, `name`, `pass`, `mail`, `timezone`, `status`, `created`, `changed`, `access`, `login`, `init`, `default_langcode`, `first_name`, `last_name`) VALUES

[2021-11-04 21:48] kiranjyoth commented on #637
@hollyhw15 Would you like to display User's first and last names on the` /admin/people/` page? Or is there a custom page you're building where you want to sync developers from Edge ? If you're looking for a dashboard of the all the apps and developers associated with them, here is a module we built. https://www.drupal.org/project/sm_appdashboard_apigee

[2021-11-08 22:48] hollyw2025 commented on #637
shishir

I pull out user's firstName and lastName from table users_field_data with user's email as the filter.

/**
* @return string
*/
  public function getUserName(string $users_by_mail){
                //pull out user's first name, last name from table users_field_data with user's email as the filter.
                return $user_full_name;
  }

in Drupal\apigee_edge_teams\Controller\TeamMembe

[2021-11-09 01:15] #617 closed

[2021-11-09 07:05] shishir-intelli commented on #637
@hollyhw15 ,
You can extend the `TeamMembersList.php` controller class or can use dependency injection when extending a class that implements `ControllerBase`, so you can override the `TeamMembersList.php` controller's `buildRow` function and change the logic in your custom module.

_To display developer(s) name through developer email id as parameter, then in that case you can use Drupal function

[2021-11-09 15:52] shishir-intelli commented on #634
Closing this issue, feel free to reopen this if in case you need any help.

[2021-11-09 15:52] #634 closed

[2021-11-09 15:57] shishir-intelli commented on #625
Closing this issue, feel free to reopen this if in case you need further help.

[2021-11-10 15:30] shishir-intelli commented on #637
Closing this issue for now, feel free to reopen if you need any further help.

[2021-11-10 15:30] #637 closed

[2021-11-11 11:51] inbalj opened #640 "Error message in EventSubscriber has a typo"
## Description
In D9 site based on apigee_devportal_kickstart there is a typo in the message to the user when trying to edit a company with inactive status.
The message will say: 'The team_name is inactive. This operation is **now** allowed.'
It should say "This operation is **not** allowed."

## Steps to Reproduce
Steps to reproduce the behavior:
1. create  a new team/company in drupal site with

[2021-11-11 13:59] shishir-intelli commented on #640
@inbalj
Thank you for reporting this, we will review and address this issue.

[2021-11-11 14:54] shishir-intelli opened #641 "Switching from PHP Serialization/Deserialization to JSON Encode/Decode"
## Description
Replace PHP Serialization/Deserialization to JSON Encode/Decode.

Drupal 8/9

[2021-11-16 04:18] #641 closed

[2021-11-18 09:28] codetochangeMinds opened #643 "Some API Product Not Listing On Drupal Interface"
## Description
API products with **underscore char** as part of the Name(_internal name of the API Product_) are not listing on the Drupal Interface during the app creation flow.

## Steps to Reproduce
Steps to reproduce the behavior:
1. Go to Apigee X console and create API product with an internal name containing an underscore character.
2. Go to Drupal Interface and navigate to **create app pag

[2021-11-18 10:00] divya-intelli commented on #643
Hi @codetochangeMinds, please verify if the 'ACCESS BY VISIBILITY' on link /admin/config/apigee-edge/developer-settings/access-control in Drupal is properly given for the role.

[2021-11-18 10:55] codetochangeMinds commented on #643
Yeah I have verified. Even Administrator who has access to all visibility is unable to see the product on Drupal interface.

[2021-11-19 10:02] divya-intelli opened #644 "Fix circle ci update-dependencies-8 test"
Circle ci update-dependencies-8 test is failing as the test depends on rules 3.0.0-alpha6 which is not compatible with D8.

[2021-11-19 12:00] #644 closed

[2021-11-24 07:19] divya-intelli commented on #643
Hi @codetochangeMinds ,
Can you enable 'Apigee Edge Debug' module and share all debug logs? Check the documentation on how to get the [debug log and remove credentials](https://www.drupal.org/docs/8/modules/apigee-edge/monitor-apigee-edge-debug-logs#configure).

[2021-11-29 17:56] #640 closed

[2021-12-01 01:21] #622 closed

[2021-12-07 07:43] phdhiren opened #646 "Update dependency of rules to 8.x-3.0-alpha7"
## Is your feature request related to a problem? Please describe.
Update dependency of rules to 8.x-3.0-alpha7
Rollback code #645
CircleCI test should pass

## Describe the solution you would like
Update rules to 8.x-3.0-alpha7

[2021-12-13 09:56] boobaa opened #648 "PHP error on `/user/%user/team-invitations` when there is no team in the organization"
## Description
When there is no team in the Apigee Edge organization, the `/user/%user/team-invitations` page throws an error: "The website encountered an unexpected error. Please try again later."

## Steps to Reproduce
Steps to reproduce the behavior:
1. Remove all the teams from the organization (eg. as uid=1 from the `/teams` page).
2. Clear the caches.
3. Visit the `/user/%user/team-invitatio

[2021-12-15 13:08] phdhiren opened #649 "Declaring ::setUp without a void return typehint is deprecated"
## Is your feature request related to a problem? Please describe.
Declaring ::setUp without a void return typehint in Tests is deprecated in drupal:9.0.0. Typehinting will be required before drupal:10.0.0.

## Describe the solution you would like
Change Record https://www.drupal.org/node/3114724

Adding the setUp(): void type hint wiill require PHP7.1 minimum, although this only affects the test f

[2021-12-21 15:44] shishir-intelli commented on #648
Hi @boobaa
I just wanted to acknowledge this ticket. If you have any patches to commit, please let us know, otherwise we will continue to work on it and push the changes when done.

[2021-12-23 02:10] wely opened #650 "API Analytic on developer's account (Drupal Portal)"
When developer logs in to their account, they can only see very preliminary information as following:
![image](https://user-images.githubusercontent.com/1658657/147176784-781b845f-2d88-41eb-b117-4025c68cc428.png)

We've got feedback from customer to expect more detail analytic such as:
- data transfer
- successful call, block call, failed call, total call, avg response time, bandwidth, etc. across

[2021-12-29 12:20] phdhiren opened #651 "Update test case for DeveloperTest"
There are few string changes with Drupal 9.3.0 which leads to fail the test case developerCreateByAdminTest. It should be update as per latest.

Reference:

https://www.drupal.org/project/drupal/issues/3199972

https://github.com/apigee/apigee-edge-drupal/blob/18ebaa05866a72bb887c2a32a23ef2448027c8d4/tests/src/Functional/DeveloperTest.php#L381

[2021-12-30 05:37] #651 closed

[2021-12-30 08:11] #646 closed

[2022-01-03 07:25] phdhiren commented on #626
Test case should be updated to check with Drupal 9 and rules 8.x-3.0-alpha7

[2022-01-04 09:00] #626 closed

[2022-01-10 01:21] #583 closed

[2022-01-24 17:49] Spooky063 opened #655 "PHP error with validation server side"
## Description
I enabled [inline errors module](https://www.drupal.org/docs/8/core/modules/inline-form-errors/inline-form-errors-module-overview) on all my forms (login, register, ...) to remove the client side validation and manage them on the server side.
But when I apply it on my registration form and submit it (without having filled any field), I get a 500 error with the following message:
[co

[2022-01-27 06:04] #624 closed

[2022-01-31 01:45] VladimirAus opened #657 "Incorrect parameters declaration breaks apigee_edge module (PHP 8.0)"
## Issue

* Incorrect parameters declaration breaks `apigee_edge` module
* `PHP 8.0` and `8.1` are currently not supported by the module.
* `Drupal 10` (`alpha1` is available now) will have minimum `PHP 8.0` or `8.1` requirement.
* Corresponding library issue: https://github.com/apigee/apigee-client-php/issues/196

### Teams / Team Apps page:
[code]

[code]

[code]

### Status Report page:
[code]

[2022-01-31 12:32] phdhiren opened #658 "Add dependency on slevomat/coding-standard in CircleCI test"
## Description
After latest release of [coder](https://www.drupal.org/project/coder/releases/8.3.14) update CircleCI test to include slevomat/coding-standard

[2022-02-01 01:21] #643 closed

[2022-02-01 07:15] #658 closed

[2022-02-01 10:55] boobaa opened #660 "Apigee Edge Teams has problems with no teams"
## Description
[code]

## Steps to Reproduce
Steps to reproduce the behavior:
1. Install Apigee Edge Teams module on a site connected to Apigee Edge which does not have any team added just yet.
2. Run cron (eg. via `drush cron` as above).

The other way to trigger the problem is to visit the `user/%user/team-invitations` page (without having any teams in Apigee Edge just yet).

## Actual Behavior

[2022-02-02 12:40] #655 closed

[2022-02-04 09:02] kingfisher88 opened #662 "Apigee Egde Teams won't create Team Invitations view if drupal/datetime is not enabled"
## Description
Datetime module is given as a dependncy in views.view.team_invitations.yml, but if dupal/datetime is not enabled the view won't be created.

## Steps to Reproduce
Steps to reproduce the behavior:
1. Enable Apigee Edge Teams
2. Check Team invitation view
3. If there is an error message check is drupal/daetime module enabled.

## Expected Behavior
qpigee_egde_temas module should has d

[2022-02-04 22:42] hollyhw15 opened #663 "is My App/Team App app name editable?"
Hi, our company asked me to edit our current portal code so that programmer can edit My App/Team App app name.

I searched through different modules, can't find  My App/Team App app form location.

Is My App/Team App app name editable? if yes, where to fix it?
![Screen Shot 2022-02-04 at 2 42 04 PM](https://user-images.githubusercontent.com/69690136/152612942-d8aae393-f730-4b6f-99da-6578a3bdfd8c.p

[2022-02-07 08:18] phdhiren commented on #663
@hollyhw15
The display name should be editable, but internal app_id is not editable.
Which version of apigee_edge module you're using?

[2022-02-07 12:24] #662 closed

[2022-02-07 19:24] hollyw2025 commented on #663
We are currently on [Drupal core](https://www.drupal.org/project/drupal) 9.3.3

I can't find anywhere, or any code to make App display name editable, please advice

[2022-02-08 06:13] phdhiren commented on #663
@hollyhw15
Can you send version of apigee_edge module along with output of `composer show`? It seems there are your custom modules is restricting the App name to be editable, try disable your custom module/theme and check it out.
The one which is visible on the form should be editable.

[2022-02-08 15:44] giteshk opened #665 "Test cases for Team Invitations"
We need to add test cases for Team Invitations
https://github.com/apigee/apigee-edge-drupal/pull/661

[2022-02-08 15:45] #648 closed

[2022-02-08 15:45] #660 closed

[2022-02-08 18:13] hollyw2025 commented on #663
On the developer portal side, here is the output of composer show.
It seems like the app name should comes with contrib module, apigee_edge, however, I can't find where to control the app name editable

hollys-mbp release20 % composer show
apigee/apigee-client-php                                  2.0.12
apigee/apigee_devportal_kickstart                         1.23
asm89/stack-cors

[2022-02-10 05:59] phdhiren commented on #663
@hollyhw15

I would recommend to update Apigee Edge to [2.0.2](https://www.drupal.org/project/apigee_edge/releases/2.0.2) however it seems there is some customization done on your instance due to which App name is non-editable for you. I'm not able to replicate the issue.

[2022-02-10 06:04] phdhiren commented on #657
The [apigee-client-php library](https://github.com/apigee/apigee-client-php) is still to support PHP 8, Seems the above error are coming due the library.

[2022-02-10 22:38] hollyw2025 commented on #663
I will give it a try to upgrade update Apigee Edge to [2.0.2]

any suggestion where to find the App form? I looked a lot of places but can't find the form or PHP code to edit this page

[2022-02-11 00:42] hollyw2025 commented on #663
we usually upgrade Drupal core on time, rarely we just upgrade one module. Will upgrade edge affect Drupal core?

[2022-02-11 08:27] pankaj-sharma31 opened #666 "After Apigee migration to version 4.51 Drupal dev portal UI has broken"
## Description
After Apigee migration to version 4.51 Drupal dev portal UI has broken.

https://docs.apigee.com/private-cloud/v4.51.00/update-apigee-edge-41906-45100

We have 5 node cluster with Apigee Drupal  portal (7.84) with Postgres SQL (10.17) on separate machine.

We ran below commands to update dev portal

/opt/apigee/apigee-setup/bin/update.sh -c dp -f /opt/apigee/response-edge.txt

![ima

[2022-02-11 10:10] phdhiren commented on #666
@pankaj-sharma31
Probably you've used custom theme or base bootstrap theme. Check configuration around Appearance.

It was great to hear that you will migrate to Drupal 9. Here is some reference for migrating Drupal 7 to 9 as a whole-  https://www.drupal.org/docs/upgrading-drupal
Specific to developer portal and related modules
https://www.drupal.org/docs/8/modules/apigee-developer-portal-kickstar

[2022-02-11 14:43] shishir-intelli opened #667 "formatResponse() function deprecated since 1.13 (php-http/message)"
## Description
`formatResponse()` of class `Http\Message\Formatter` is deprecated since php-http/message v1.13, use `formatResponseForRequest() `instead.
Need to replace `formatResponse()` to `formatResponseForRequest()` used in `apigee_edge_debug` module.

Reference : https://github.com/php-http/message/releases/tag/1.13.0

## Actual Behavior
CircleCi `run-d9-check` failing with error
`Call to de

[2022-02-14 05:47] phdhiren commented on #663
Updating apigee_edge module will not affect Drupal, in fact newer version may have bug fixes / features.

Look for custom theme / modules where the initial functionality has been altered.

[2022-02-15 07:27] NNV111 opened #669 "Installation of Apigee Module is crashing the Drupal site"
Drupal 9.3.5 has been set up in AWS Linux 2. Trying to set up the APIGEE_EDGE module (tar file downloaded for the following link - https://www.drupal.org/project/apigee_edge).
Drupal - 9.3.5; PHP - 8.0, MariaDB - 10.5, Apigee edge module- 2.0.2
After uploading, when trying to enable the uploaded module, then entire site crashes and is throwing an error saying "The website encountered an unexpected

[2022-02-15 08:03] phdhiren commented on #669
@NNV111
Currently PHP 8 is not supported with apigee_edge, however that's under active development.

I encourage you to install the module via composer instead of tar ball, remove earlier reference of the module which you'd extracted manually
[code]

[2022-02-22 19:50] hollyw2025 commented on #663
Hi,
I found the fixing in one of our costumed functions and fixed this problem
$form[‘displayName’][‘#disabled’] = FALSE;

Question, in the html code, I can't find this $form[‘displayName’] What should be the key field name to look for if I need to work on similar problem next time?

what I found is
id="edit-displayname-0-value"
name="displayName[0][value]"

Here is the original html code

  <div

[2022-02-23 05:52] phdhiren commented on #663
@hollyhw15

You should visit Drupal documentation of [Form API](https://www.drupal.org/docs/drupal-apis/form-api) and [rendering form elements](https://www.drupal.org/docs/drupal-apis/form-api/form-render-elements) to learn about Form API and altering the same.

Closing the issue for now, feel free to reopen if require.

[2022-02-23 05:52] #663 closed

[2022-03-01 01:42] #650 closed

[2022-03-03 14:30] shishir-intelli opened #670 "Bump drupal/core requirement to 9.2.13"
## Description
Bump Drupal core version requirement to 9.2.13 and remove Drupal 8.

## Notes
Ref https://www.drupal.org/sa-core-2022-003

## Version Info
9+

[2022-03-04 06:06] #670 closed

[2022-03-04 12:54] shishir-intelli opened #672 "Deprecated methods in drupal:9.1.0 and is removed from drupal:10.0.0"
## Description
Need to remove/replace the deprecated methods which are removed from Drupal 10.0.0.

Drupal check for 9 failing on CircleCI after bump version for Drupal core to 9.2.13.

[2022-03-08 14:53] shishir-intelli opened #674 "Bump apigee/apigee-client-php version requirement to 2.0.13 from 2.0.12"
## Description
Bump apigee/apigee-client-php version requirement to 2.0.13 from 2.0.12 to use php-http/message v1.13.

## Additional context
See issue https://github.com/apigee/apigee-edge-drupal/issues/667

[2022-03-08 15:54] #674 closed

[2022-03-08 17:07] #667 closed

[2022-03-09 11:44] mxr576 opened #676 "Dedicated permission for configuring API product access"
## Is your feature request related to a problem? Please describe.

Apigee Edge configuration UIs are currently can be accessed by those users who have `administer apigee edge` and API Product access settings UI (route: `apigee_edge.settings.developer.api_product_access`) falls under the same role. The problem is that in contrast with other Apigee Edge module Admin UIs that control module's configu

[2022-03-10 18:29] jjmackow commented on #657
[the apigee-client-php library was updated on March 8th with a PR for the PHP 8.0 bug](https://github.com/apigee/apigee-client-php/pull/211)
`Deprecated: Return type of Drupal\apigee_edge\Entity\FieldableEdgeEntityBase::getIterator() should either be compatible with IteratorAggregate::getIterator(): Traversable, or the #[\ReturnTypeWillChange] attribute should be used to temporarily suppress the n

[2022-03-24 14:00] jjmackow commented on #669
Rather than using Drupal 9.3.x, try using the 9.2.x stream.  https://www.drupal.org/project/drupal/releases/9.2.16 with PHP 7.4,
Drupal 9.3.0 has some information in its [release notes](https://www.drupal.org/project/drupal/releases/9.3.0) under PHP dependencies

One other thing you might try that worked for me, using the Drupal 9.3.x and PHP 7.4 is adding the following to your composer.json file

[2022-03-28 07:27] #672 closed

[2022-03-29 03:16] audave opened #677 "Add Support for uuid on Team Entity"
As a Drupal developer, I would like the Team Entity to have a uuid & uuid() function so that it plays nicely with Drupal Core's jsonapi module.

Drupal core has inbuilt API functionality provided by the jsonapi module. This module relies on Entities having a uuid & uuid() function in order provide unique identifiers for each entity & through that a unique url to read/update entities.

Quick fix av

[2022-04-01 14:43] divya-intelli opened #680 "Deprecated function: uasort()"
Need to fix deprecated function: uasort() Returning bool from comparison function is deprecated, return an integer less than, equal to, or greater than zero
Test fails in php8.0

[2022-04-04 06:40] audave opened #681 "Add support for UUID on team invitations."
As a Drupal developer, I would like the Team Invitations to play nicely with Drupal Core's jsonapi module.

Drupal core has inbuilt API functionality provided by the jsonapi module. This module relies on Entities having a uuid & uuid() function in order provide unique identifiers for each entity & through that a unique url to read/update entities.

Quick fix available at https://github.com/apigee/

[2022-04-05 13:14] #680 closed

[2022-04-06 08:31] phdhiren opened #683 "Deprecated: Calling EventDispatcherInterface::dispatch() with a string event name"
## Is your feature request related to a problem? Please describe.
Calling the Symfony\Component\EventDispatcher\EventDispatcherInterface::dispatch() method with a string event name as the first argument is deprecated in drupal:9.1 an Event object will be required instead in drupal:10.0.0.

## Describe the solution you would like
Change Record https://www.drupal.org/node/3154407

[2022-04-06 08:36] phdhiren opened #684 "Relying on entity queries to check access by default is deprecated in drupal:9.2.0"
## Is your feature request related to a problem? Please describe.
Relying on entity queries to check access by default is deprecated in drupal:9.2.0 and an error will be thrown from drupal:10.0.0. Call \Drupal\Core\Entity\Query\QueryInterface::accessCheck() with TRUE or FALSE to specify whether access should be checked.

## Describe the solution you would like
Change Record https://www.drupal.org/

[2022-04-07 16:22] giteshk opened #685 "Github Actions - Enhancements."
- Add a nightly build for deprecation checks
- Run tests in parallel to return results quickly
- Test for Drupal 10
- Add PHP 8.1 tests
- Add artifacts like composer version and other stats

[2022-04-12 10:20] divya-intelli opened #687 "apigee_edge_actions_debug module throws error if rules are set"
## Description
If apigee_edge_actions_debug module is enabled and rules are set , type error is thrown when event is triggered.

## Steps to Reproduce
Steps to reproduce the behavior:
1. Enable apigee_edge_actions_debug module
2. Enable apigee_edge_actions_examples module(this adds example rules)
3. Add a team

## Actual Behavior
Throws error :
TypeError: Argument 1 passed to Drupal\apigee_edge_ac

[2022-04-12 11:44] #687 closed

[2022-04-19 17:25] matt-hottinger opened #689 "Support for Workload Identity Federation when configuration Kickstart for Apigee X"
## Is your feature request related to a problem? Please describe
It would be preferable to be able to use short-lived access tokens instead of long-lived service account keys when configuring the Apigee Dev Portal Kickstart for Apigee X. At the moment it appears the only option is to configure using a GCP service account key.

## Describe the solution you'd like
Using a GCP service account key is

[2022-04-20 02:20] #666 closed

[2022-04-21 10:40] johnvenpin commented on #657
Just checking the status of the PHP 8 and 8.1 release for the Apigee Edge Drupal 8 module? - we are getting the following error using Drupal 9.3.11 on the Acquia cloud when enabling PHP 8. Thank you.

Apigee\Edge\Api\Management\Entity\AppOwner::setApps(): Argument #1 must be of type string, array given, called in /mnt/www/html/filstg/vendor/symfony/property-access/PropertyAccessor.php on line 581

[2022-04-27 02:55] giteshk commented on #689
Hi @matt-hottinger, This is a great suggestion.
If you currently deploy the Apigee Edge module on a GCP Compute instance VM it lets you use the default service account without having to enter a key in.

It would be good to add this feature to support Kubernetes pods with workload identity federation.

[2022-04-27 03:09] giteshk commented on #689
This should work for GKE. Since the code has been in place : https://github.com/apigee/apigee-client-php/blob/2.x/src/HttpClient/Plugin/Authentication/GceServiceAccount.php

https://cloud.google.com/kubernetes-engine/docs/concepts/workload-identity#metadata_server

[2022-04-28 15:17] rameshvk22 opened #690 "Not able to disable caching for teams module"
## Description
A clear and concise description of what the bug is.

## Steps to Reproduce
Steps to reproduce the behavior:
Goto configuration-->Apigee Edge-->Teams-->Caching
Set the value to 0 (to disable cache)

## Actual Behavior
When I click on Teams --> Members --> It is throwing the error

The website encountered an unexpected error. Please try again later.
TypeError: Return value of Drupal\a

[2022-04-28 15:50] rameshvk22 opened #691 "Add team members intermittently not adding members to team"
## Description
Sometimes when we try to add members to team it was not adding even though we get message saying it successfully added to the team .We cannot see that members under teams and also we cannot verify backend (apigee managment api) because we cannot get  member details using management api.

## Steps to Reproduce
Steps to reproduce the behavior:
1.Selected team one and removed member X

[2022-04-29 04:48] phdhiren commented on #690
@rameshvk22
Please update to the latest version, It is resolved in one of earlier releases
#579

[2022-04-29 08:44] divya-intelli opened #692 "PHP 8.1 :FieldableEdgeEntityBase::getIterator() should either be compatible with IteratorAggregate::getIterator(): Traversable"
## Is your feature request related to a problem? Please describe.
Getting deprecation notice in PHP 8.1:
PHP Deprecated:  a:5:{s:11:"deprecation";s:251:"Return type of Drupal\apigee_edge\Entity\FieldableEdgeEntityBase::getIterator() should either be compatible with IteratorAggregate::getIterator(): Traversable, or the #[\ReturnTypeWillChange] attribute should be used to temporarily suppress the no

[2022-04-29 15:25] phdhiren commented on #690
@rameshvk22
What is the version of PHP and apigee/apigee-client-php library?

Also, After you set the 0 in cache  expiration, can you clear the Drupal cache once and see any difference.

[2022-04-29 17:59] rameshvk22 commented on #690
PHP Version  7.4.27
apigee/apigee-client-php   2.0.14
Yes I have cleared  Drupal cache still getting same Error.

[2022-05-02 10:58] phdhiren commented on #691
@rameshvk22

I'm trying to replicate the issue on my local.

[2022-05-03 06:37] rameshvk22 commented on #691
Thanks let me know if you need more info. We are trying to make status 1(Accepted) always. But sometimes its updated as 0 We believe that is due to caching.
**Here is the code snippet .**
function invitation_final_status_change($form, $form_state) {
  $emails = array_map('trim', explode(',', $form_state->getValue('developers', '')));
  $storage = Drupal::entityTypeManager()->getStorage('team_invit

[2022-05-04 06:38] #692 closed

[2022-05-04 07:44] divya-intelli opened #694 "PHP8.1 : Exception: Deprecated function: json_decode(): Passing null to parameter #1 ($json) of type string is deprecated"
## Is your feature request related to a problem? Please describe.
Getting deprecation notice in PHP 8.1:
Exception: Deprecated function: json_decode(): Passing null to parameter #1 ($json) of type string is deprecated
Drupal\Component\Serialization\Json::decode()() (Line: 26)

[2022-05-04 08:05] divya-intelli opened #695 "[PHP 8.1] Deprecated function: strpos(): Passing null to parameter #1 ($haystack) of type string is deprecated"
## Is your feature request related to a problem? Please describe.
Getting deprecation notice in PHP 8.1:
Exception: Deprecated function: strpos(): Passing null to parameter #1 ($haystack) of type string is deprecated
Drupal\apigee_edge\EventSubscriber\DeveloperStatusWarningSubscriber->onRespond()() (Line: 100)

[2022-05-04 15:10] phdhiren commented on #690
@rameshvk22

I've tried to replicate it locally, but could not. Can you disable any of the custom code changes and try again?

[2022-05-05 04:25] phdhiren commented on #691
@rameshvk22

How is the above code snippet getting triggered? Is it somewhere in your custom module?

[2022-05-05 20:12] rameshvk22 commented on #691
Hook function form_later
function sbux_teams_form_apigee_edge_teams_add_team_member_form_alter(&$form, \Drupal\Core\Form\FormStateInterface $form_state, $form_id)
{
  $form['username'] = array(
    '#title' => t('Username'),
    '#type' => 'entity_autocomplete',
    '#target_type' => 'user',
    '#size' => 35,
    '#tags' => TRUE,
    '#required' => TRUE,
    '#weight' => 0
  );

  $form['develope

[2022-05-06 09:29] divya-intelli opened #698 "[PHP 8.1] Exception: Deprecated function: Return type of League\Period\Period::jsonSerialize()"
## Is your feature request related to a problem? Please describe.
Getting deprecation notice in PHP 8.1:
Exception: Deprecated function: Return type of League\Period\Period::jsonSerialize() should either be compatible with JsonSerializable::jsonSerialize(): mixed, or the #[\ReturnTypeWillChange] attribute should be used to temporarily suppress the notice include()() (Line: 33)

[2022-05-06 14:41] phdhiren commented on #690
@rameshvk22

I'm able to replicate the issue locally, and will come back with a solution.

[2022-05-09 23:18] rameshvk22 commented on #691
also we need to disable email notification

[2022-05-10 11:11] mxr576 opened #700 "Issue with apigee_edge_teams_update_8702() update hook"
## Description
`apigee_edge_teams_update_8702()` imports `views.view.team_invitations` that is an _optional_ configuration that only gets imported by Drupal (by default) when all dependencies of the Views view are available and enabled. That view depends on the `datetime` module although the above-mentioned update hook ignores that and imports it anyway, This leads to a `The "datetime_default" plu

[2022-05-10 14:37] giteshk commented on #691
@rameshvk22 Can you review the PR and see if it works for you.

We are trying to add an option to disable approvals for adding someone to the Team.

[2022-05-10 14:37] giteshk commented on #690
@rameshvk22 can you help test the patch in #699 ?

[2022-05-11 06:02] rameshvk22 commented on #691
Thank you I have tested .It disabled email notification but I can see one bug .
I have1.  Added member A to Team X -->It is added to the team X
2.Removed member A from Team X--> It is removed from the team X
3.Added member A from Team X- --> It is giving message saying "The following developer has been added to the X team: A." but it is not showing up in the team members list.
When I checked **tea

[2022-05-11 06:27] phdhiren commented on #691
@rameshvk22

Can you confirm you've used the above patch along with the cache issue patch in #699 and checked the `Auto approve team membership for existing user`

[2022-05-11 08:20] phdhiren commented on #691
@rameshvk22
Can you also confirm if the custom code which was written has been removed after applying both patches?

[2022-05-11 11:49] #695 closed

[2022-05-12 06:39] #694 closed

[2022-05-12 17:56] rameshvk22 commented on #691
Yes . I have tested by removing the custom code and it is working as expected .We have added custom code for
1. Auto populate existing users
2. To change Label Instead of Invite Members .We use Add Member both button as well as status message.

Please let us know when patch will be available.

[2022-05-13 07:12] #690 closed

[2022-05-13 09:17] phdhiren commented on #691
Thank you for confirming, I'll merge this change. We should be releasing a new version by next week.

[2022-05-16 05:06] #691 closed

[2022-05-17 02:16] #676 closed

[2022-05-17 06:49] mxr576 commented on #676
@giteshk Hi, can you validate this idea with the team?

[2022-05-18 12:26] mxr576 opened #705 "[Apigee X][API Product] Add support for optionsGroups"
This is a follow up on https://github.com/apigee/apigee-client-php/issues/224

[2022-05-18 12:27] mxr576 opened #706 "[Apigee X][API Product] Add support for graphqlOperationGroup"
This is a follow up on https://github.com/apigee/apigee-client-php/issues/225

[2022-05-24 08:02] phdhiren commented on #657
@johnvenpin

The issue mentioned is fixed with the latest version of `apigee-client-php`
You should update the library via `composer update`

@jjmackow
The issue mentioned is taken care of with the PR #693 and should be a part of upcoming release 2.0.3

Closing this issue, feel free to reopen, if required

[2022-05-24 08:02] #657 closed

[2022-05-25 07:00] VladimirAus opened #707 "[PHP 8.0]: TypeError: count(): Argument #1 ($value) must be of type Countable|array, null given"
* Head to TeamApp, clickon `Analytics` tab

[code]

[2022-05-25 16:15] rameshvk22 commented on #691
@phdhiren @giteshk  Please let us know once  new release available.

[2022-05-25 20:21] giteshk commented on #691
@rameshvk22 We have published a new release. Feel free to reopen if there are any issues.

[2022-05-27 11:56] divya-intelli commented on #707
@VladimirAus, please select one of the environments in the analytics setting page 'admin/config/apigee-edge/app-settings/general/analytics'.
Also please enable the 'Apigee Edge Debug' module and share all debug logs for this page.

[2022-05-31 02:21] #669 closed

[2022-06-01 08:11] phdhiren opened #710 "Remove circleci integration"
Now that we rely on GitHub Actions remove any integrations with Circle CI

[2022-06-01 09:02] divya-intelli opened #712 "Bump apigee/apigee-client-php, apigee-mock-client-php and PHP version"
## Is your feature request related to a problem? Please describe.
Bump apigee/apigee-client-php version requirement to 2.0.16
Bump apigee/apigee-mock-client-php version requirement to 1.1.1
Bump the minimum required PHP version to 7.4

[2022-06-06 02:14] #677 closed

[2022-06-09 06:03] #710 closed

[2022-06-09 08:10] #712 closed

[2022-06-09 10:46] divya-intelli commented on #698
Resolved by apigee-client-php PR : https://github.com/apigee/apigee-client-php/pull/223

[2022-06-09 10:46] #698 closed

[2022-06-10 13:45] boobaa opened #715 "Apigee Edge Teams module throws an error upon invitation"
## Description
When I enter an email address of a member I want to invite (either an already existing user on the portal or a user that is not a registered user yet), and I click the "Invite members" button, I get an error, tho the invitation email is sent out.

## Steps to Reproduce
Steps to reproduce the behavior:
1. Go to any team's member list (ie. visit `/teams/{team}/members` page).
2. Click

[2022-06-11 02:14] #681 closed

[2022-06-13 06:32] shishir-intelli commented on #715
Hi @boobaa
I've tried to replicate it locally, but could not see any errors.
It seems that **TeamInvitationNotifierEmail::sendNotificationsFor()** method is returning null while triggering the email.

To investigate further on the same can you please share the Drupal error logs (_/admin/reports/dblog_) to check if there are any other errors.

[2022-06-13 06:54] boobaa commented on #715
Hi @shishir-intelli, I also checked this again.

1. Turns out the "Pending Invitations" does contain the email I entered besides the error, so I updated my report accordingly.
2. The only other watchdog entry is the one below, which pretty much has the same info:

[code]

[2022-06-13 10:36] shishir-intelli commented on #715
Hi @boobaa

I have attached a patch file which prevents the error when _Null_ response is received, Can you please apply this patch and let us know if this works also check if the user/receiver has received an invitation email.
Patch [patch-issue715.txt](https://github.com/apigee/apigee-edge-drupal/files/8890280/patch-issue715.txt)

[2022-06-14 05:56] boobaa commented on #715
Hi @shishir-intelli,

Thank you for creating the patch. I can confirm it solves the problem: the email is sent, the sender sees no errors, and there are no errors/notices in the logs either.

[2022-06-14 10:16] shishir-intelli commented on #715
Hi @boobaa
Thanks for testing this patch!
This error is thrown when the sent mail response result is `NULL` and this happens when a `hook_mail_alter()` is implemented somewhere to cancel the sending.

Reference : https://api.drupal.org/api/drupal/core%21lib%21Drupal%21Core%21Mail%21MailManager.php/class/MailManager/8.2.x#:~:text=send%27%5D))%20%7B%0A%20%20%20%20%20%20%20%20%24-,message,-%5B%27resu

[2022-06-14 14:27] #715 closed

[2022-06-16 09:04] divya-intelli opened #717 "Declaring ::setUp without a void return typehint is deprecated in drupal:9.0.0"
## Is your feature request related to a problem? Please describe.
Deprecation notice is thrown when running test.
Declaring ::setUp without a void return typehint deprecated in drupal:9.0.0. Typehinting will be required before drupal:10.0.0. See https://www.drupal.org/node/3114724

[2022-06-18 02:20] #665 closed

[2022-06-20 02:54] #717 closed

[2022-06-20 09:45] divya-intelli opened #719 "$modules property must be declared protected"
## Is your feature request related to a problem? Please describe.
When running test, below deprecation notice is shown.
$modules property must be declared protected. See https://www.drupal.org/node/2909426

[2022-06-20 11:17] phdhiren opened #721 "Add drupal check in GitHub actions"
Add drupal check in GitHub actions

[2022-06-22 06:18] #719 closed

[2022-06-27 08:22] #721 closed

[2022-07-04 02:35] #689 closed

[2022-07-07 09:21] Mainak9 commented on #391
How to load Developer app interface sin developer id and app name?
I am trying this but failed
[code]

[2022-07-08 10:32] divya-intelli opened #724 "Update the warning that Apigee Edge Teams module is not supported with ApigeeX"
## Description
The Apigee Edge Teams module is not supported with ApigeeX. There is no indication of this on the documentation page, [https://www.drupal.org/docs/contributed-modules/apigee-edge/configure-team-management](https://www.drupal.org/docs/contributed-modules/apigee-edge/configure-team-management,) and when attempting to enable it on a Drupal portal configured to use ApigeeX, there is a m

[2022-07-11 09:05] mxr576 commented on #700
@giteshk hi, could you/team adjust the stale plugin to not close issues until a first maintainer response at least? Especially not bug reports...

[2022-07-13 07:54] #724 closed

[2022-07-26 02:42] #706 closed

[2022-07-26 02:42] #705 closed

[2022-07-26 09:33] divya-intelli commented on #707
Hope this issue is resolved.
Closing this ticket for now. Feel free to reopen in case you are still having any issues.

[2022-07-26 09:33] #707 closed

[2022-07-28 01:22] audave opened #727 "Team invitations do not play nicely with Drupal Core JsonApi"
Trying to update a team invitation via drupal core's jsonapi module gives the following error

`            "title": "Unprocessable Entity",
            "status": "422",
            "detail": "The attribute 0 does not exist on the team_invitation--team_invitation resource type.",
`

This can be fixed by adding the uuid to the entity keys
Line 68 modules/apigee_edge_teams/src/Entity/TeamInvitation.

[2022-07-28 08:09] shishir-intelli commented on #727
Hi @audave,

Can you please share the steps to reproduce this behavior and the version information.

[2022-07-28 14:09] #684 closed

[2022-08-01 06:37] #685 closed

[2022-08-26 16:41] dpagini opened #730 "Error sending email with capitalization to Apigee."
## Description
Our organization is using SSO to log users into the developer portal. This creates a user in Drupal, and our identity provider is sending over the users email address. The email address gets saved with proper capitalization, so I am `David.Pagini@organization.com`. When the module takes this user and create them as a developer in Apigee, we are getting an error that email address mu